.barratop {
    background-color: #fff;
    height: 55px;
    width: 100%;
    padding: 10px 0 10px 0;
    text-align: center;
}

body{
    width: 100%;
    height: 100%;
    padding: 10px;
}

select {
    font-family: Lato, Verdana;
    font-size: small;
    width: 98%;
    display: block;
}


.box {
    background-color: #72a592;
    border-radius: 10px;
}

#anverso, #reverso {
    padding-top: 15px;
}

.logo-bg {
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #ffffff, #72a592); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ffffff, #72a592); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ffffff, #72a592); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ffffff , #72a592); /* Standard syntax */
    height: 57px;
}

.bg-blanco {
    background: white;
}

.bg-actoinseguro {
    background: #3d5329;
}

.bg-condicioninsegura {
    background: #a2be5f;
}

.titulo_tabla {
    background: #72a592;
    color: #ffffff;
    font-size: small;
    font-family: Lato, Verdana;
    font-weight: 400;
}

.texto_tabla {
    font-size: x-small;
    font-family: Lato, Verdana;
    color: #666666;
}

.leyenda {
    font-size: small;
    font-family: Lato, Verdana;
    color: #333333;
    font-weight: 600;
}

.texto_anverso {
    font-size: small;
    font-family: Lato, Verdana;
    color: #666666;
}

.titulo {
    color: white;
    font-size: x-large;
    font-family: Lato, Verdana;
    text-align: center;
    padding: 15px 0px 10px 0px;
}

.subtitulo {
    color: #07146c;
    font-size: small;
    font-family: Lato, Verdana;
    background: #a7c7bb;
    padding: 5px 15px 5px 15px;
}

.separador {
    padding-top: 20px;
}

.separador-reglas {
    padding-bottom: 30px;
}

.input-pequeno {
    max-width: 170px;
    height: 20px;
    font-size: small;
    font-family: Lato, Verdana;
}

.input-grande {
    max-width: 98%;
    height: 20px;
    font-size: small;
    font-family: Lato, Verdana;
    padding: 0 0 0 5px;
}

input[type="text"] {
    max-width: 98%;
    font-size: small;
    font-family: Lato, Verdana;
}

input[type="date"] {
    max-width: 98%;
    font-size: small;
    font-family: Lato, Verdana;
}

textarea {
    max-width: 98%;
    font-size: small;
    font-family: Lato, Verdana;
}

.glyphicon.glyphicon-calendar {
    font-size: small;
}

textarea.form-control {
    height: 98%;
    font-size: small;
    font-family: Lato, Verdana;
}

.subrayar {
    font-size: 11px;
    color: #ffffff;
    font-family: Lato, Verdana;
    font-weight: 400;
    text-align: left;
    background: #6f6f6f;
    padding: 5px;
}