select {
    font-family: Lato, Verdana;
    font-size: small;
    width: 98%;
    display: block;
}

.input-pequeno {
    max-width: 170px;
    height: 20px;
    font-size: small;
    font-family: Lato, Verdana;
}

.input-grande {
    max-width: 98%;
    height: 20px;
    font-size: small;
    font-family: Lato, Verdana;
    padding: 0 0 0 5px;
}

input[type="text"] {
    max-width: 98%;
    font-size: small;
    font-family: Lato, Verdana;
}

input[type="date"] {
    max-width: 98%;
    font-size: small;
    font-family: Lato, Verdana;
}

textarea {
    max-width: 98%;
    font-size: small;
    font-family: Lato, Verdana;
}

.glyphicon.glyphicon-calendar {
    font-size: small;
}

textarea.form-control {
    height: 98%;
    font-size: small;
    font-family: Lato, Verdana;
}

.box-ver {
    background-color: #72a592;
    border-radius: 10px;
}

#anverso-ver, #reverso-ver {
    padding-top: 15px;
}

.logo-bg-ver {
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #ffffff, #72a592); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ffffff, #72a592); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ffffff, #72a592); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ffffff , #72a592); /* Standard syntax */
    height: 57px;
}

.bg-blanco-ver {
    background: white;
}

.bg-actoinseguro-ver {
    background: #3d5329;
}

.bg-condicioninsegura-ver {
    background: #a2be5f;
}

.titulo_tabla-ver {
    background: #72a592;
    color: #ffffff;
    font-size: small;
    font-family: Lato, Verdana;
    font-weight: 400;
}

.texto_tabla-ver {
    font-size: x-small;
    font-family: Lato, Verdana;
    color: #666666;
}

.leyenda-ver {
    font-size: small;
    font-family: Lato, Verdana;
    color: #333333;
    font-weight: 600;
}

.texto_anverso-ver {
    font-size: small;
    font-family: Lato, Verdana;
    color: #666666;
}

.titulo-ver {
    color: white;
    font-size: x-large;
    font-family: Lato, Verdana;
    text-align: center;
    padding: 15px 0px 10px 0px;
}

.subtitulo-ver {
    color: #07146c;
    font-size: small;
    font-family: Lato, Verdana;
    background: #a7c7bb;
    padding: 5px 15px 5px 15px;
}

.separador-ver {
    padding-top: 20px;
}

.separador-reglas-ver {
    padding-bottom: 30px;
}

.subrayar-ver {
    font-size: 11px;
    color: #ffffff;
    font-family: Lato, Verdana;
    font-weight: 400;
    text-align: left;
    background: #6f6f6f;
    padding: 5px;
}