{% extends 'app/module.html.twig' %}

{% block module_title %}Severidades{% endblock %}

{% block module_subtitle %}Severidad{% endblock %}

{% block module_content %}

    <table class="table table-striped table-bordered display">
        <tbody>
            <tr>
                <th>Valor</th>
                <td>{{ severidad.valor }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row" style="padding-top: 10px;">
        <div class="form-group pull-right">
            <a href="{{ path('severidad_edit', { 'id': severidad.id }) }}" class="btn btn-primary btn-md" role="button">
                <i class="fa fa-pencil" aria-hidden="true"></i></span> Editar
            </a>
        </div>
    </div>

    <div class="row" style="padding-top: 3px;">
        <div class="pull-right">
            <a href="{{ path('severidad_index') }}" class="btn btn-default btn-md" role="button">
                <i class="fa fa-list-ul" aria-hidden="true"></i></span> Regresar al listado
            </a>
        </div>
    </div>

{% endblock %}