<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site_name }}</title>

    {% block stylesheets %}
        <!-- Bootstrap -->
        <link href="{{ asset('assets/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="{{ asset('assets/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <!-- NProgress -->
        <link href="{{ asset('assets/vendors/nprogress/nprogress.css') }}" rel="stylesheet">
        <!-- jQuery custom content scroller -->
        <link href="{{ asset('assets/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css') }}"
              rel="stylesheet"/>
        <!-- DataTables -->
        <link href="{{ asset('assets/datatables/datatables.min.css') }}" rel="stylesheet"/>
        <!-- Custom Theme Style -->
        <link href="{{ asset('assets/css/custom.css') }}" rel="stylesheet">
        <!-- Select2 -->
        <link href="{{ asset('assets/vendors/select2/dist/css/select2.min.css') }}" rel="stylesheet"/>
        <!-- Hover -->
        <link href="{{ asset('assets/css/hover-min.css') }}" rel="stylesheet">
        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block plugins_css %}{% endblock %}
    {% endblock stylesheets %}

    {#ZingChart#}
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
</head>

<body class="nav-md">
<div class="se-pre-con"></div>
<div class="container body">
    <div class="main_container">


        {% include 'app/sidebar.html.twig' %}
        {% include 'app/topnav.html.twig' %}


        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                {% block top_content_header %}
                    <div class="page-title">
                        <div class="title_left">
                            <h3>{% block page_title %}Page Title{% endblock page_title %}</h3>
                        </div>
                    </div>
                {% endblock top_content_header %}

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        {% block page_content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->


        {% include 'app/footer.html.twig' %}


    </div>
</div>

{% block javascripts %}
    <!-- jQuery -->
    <script src="{{ asset('assets/vendors/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('assets/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <!-- FastClick -->
    <script src="{{ asset('assets/vendors/fastclick/lib/fastclick.js') }}"></script>
    <!-- NProgress -->
    <script src="{{ asset('assets/vendors/nprogress/nprogress.js') }}"></script>
    <!-- Custom Theme Scripts -->
    <script src="{{ asset('assets/js/custom.js') }}"></script>
    <!-- jQuery custom content scroller -->
    <script src="{{ asset('assets/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <!-- DataTables -->
    <script src="{{ asset('assets/datatables/datatables.min.js') }}"></script>
    <!-- Select2 -->
    <script src="{{ asset('assets/vendors/select2/dist/js/select2.min.js') }}"></script>
    <!-- Sidebar Hover -->
    <script src="{{ asset('assets/js/hover-sidebar.js') }}"></script>


    <script type="text/javascript">
        $(window).load(function() {
          // Pantalla de carga
          $(".se-pre-con").fadeOut("slow");;
        });
        $(document).ready(function() {
            $('#index-dt-casoGrp').dataTable( {
                "language": {
                    "url": "{{ asset('assets/datatables/language/spanish.json') }}"
                },
                "rowGroup": {
                    dataSrc: 0
                },
                "columnDefs": [
                    {
                        "targets": [ 0 ],
                        "visible": false
                    }
                ]
            });
            $('#index-dt').dataTable( {
                "language": {
                    "url": "{{ asset('assets/datatables/language/spanish.json') }}"
                }
            });

        });
        //Select2 Init
        $(document).ready(function(){
            $(".select2").select2();
            $(".select2-m").select2({
                closeOnSelect: false
            });
        });
    </script>
    {% block plugins_js %}{% endblock %}
{% endblock javascripts %}

{% block modals %}{% endblock modals %}


</body>
</html>
