<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site_name }}</title>

    <!-- Bootstrap -->
    <link href="{{ asset('assets/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">

    <style>

        table, th {
            border: 1px solid #72a592;
            padding: 10px 5px 10px 5px;
        }

        td {
            border: 1px solid #aeaeae;
            padding: 10px 5px 10px 5px;
        }

        .tabla {
            font-family: "Lao UI", Verdana;
            font-size: 9px;
            color: #666666;
        }

        .encabezado {
            background-color: #72a592;
            color: #ffffff;
            font-weight: bold;
            font-size: 10px;
        }

    </style>

</head>

<body>

    <p align="center">{% block reporte_title %}{% endblock reporte_title %}</p>

    {% block reporte_content %}{% endblock %}

</body>
</html>
