{% extends 'app/base.html.twig' %}

{% block page_title %}Módulo {% block module_title %}{% endblock %}{% endblock %}

{% block page_content %}
    <div class="x_panel">
        <div class="x_title">
            <h2>{% block module_subtitle %}{% endblock %}</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            {% block module_content %}{% endblock %}
        </div>
    </div>
{% endblock %}