<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0; text-align: center;">
            <a href="{{ path('app_dashboard') }}" class="site_title" style="padding-left: 0px;">
                Anomalías
            </a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile">
            <div class="profile_pic">
                {% if app.user.foto is not null %}
                    <img src="{{ vich_uploader_asset(app.user, 'imageFile', 'AppBundle\\Entity\\Usuario') }}" alt="" class="img-circle profile_img">
                {% else %}
                    <img src="{{ asset('assets/images/user.png') }}" class="img-circle profile_img">
                {% endif %}
            </div>
            <div class="profile_info">
                {% if app.user.username is defined %}
                    <span>Bienvenido,</span>
                    <h2>{{ app.user.nombre }} {{ app.user.apellido }}</h2>
                {% endif %}
            </div>
        </div>
        <!-- /menu profile quick info -->

        <div class="clearfix"></div>

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <br>
                <h3>Menú Principal</h3>
                <ul class="nav side-menu">

                    <li><a href="{{ path('app_dashboard') }}"><i class="fa fa-home"></i>Tablero</a></li>

                    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_SUPERV_SHA') or is_granted('ROLE_COORD_SHA') or is_granted('ROLE_ADMIN_SHA') %}
                        <li><a href="{{ path('anomalia_index') }}"><i class="fa fa-id-card-o"></i>Anomalías</a></li>
                        <li>
                            <a href="#"><i class="fa fa-pie-chart"></i>Reportes<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a class="symfony-docs" href="{{ path('pantalla_porpersonas') }}">Listado general por Observadores</a></li>
                                <li><a class="symfony-docs" href="{{ path('pantalla_porobservador') }}">Listado por Observador</a></li>
                                <li><a class="symfony-docs" href="{{ path('pantalla_porsitio') }}">Anomalías por Ubicación / Sitio</a></li>
                                <li><a class="symfony-docs" href="{{ path('pantalla_porregladeoro') }}">Anomalías por Regla de Oro</a></li>
                                <li><a class="symfony-docs" href="{{ path('pantalla_porgerencia') }}">Anomalías por Gerencia de observadores</a></li>
                                <li><a class="symfony-docs" href="{{ path('pantalla_porusuario') }}">Anomalías por Usuario</a></li>
                                <li><a class="symfony-docs" href="{{ path('pantalla_pendientes') }}">Anomalías Pendientes</a></li>
                                <li><a class="symfony-docs" href="{{ path('pantalla_abiertas_asignadas') }}">Anomalías Abiertas Asignadas</a></li>
                                <li><a class="symfony-docs" href="{{ path('pantalla_porclasificacion') }}">Anomalías por Clasificación</a></li>
                                <li><a class="symfony-docs" href="{{ path('pantalla_portipo') }}">Anomalías por Tipo de Clasificación</a></li>
                            </ul>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_REPORTES') or is_granted('ROLE_USUARIO') %}
                        <li>
                            <a href="#"><i class="fa fa-pie-chart"></i>Reportes<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a class="symfony-docs" href="{{ path('pantalla_porpersonas') }}">Listado general por Observadores</a></li>
                                <li><a class="symfony-docs" href="{{ path('pantalla_porobservador') }}">Listado por Observador</a></li>
                                <li><a class="symfony-docs" href="{{ path('pantalla_porsitio') }}">Anomalías por Ubicación / Sitio</a></li>
                                <li><a class="symfony-docs" href="{{ path('pantalla_porregladeoro') }}">Anomalías por Regla de Oro</a></li>
                                <li><a class="symfony-docs" href="{{ path('pantalla_porgerencia') }}">Anomalías por Gerencia de observadores</a></li>
                                <li><a class="symfony-docs" href="{{ path('pantalla_porusuario') }}">Anomalías por Usuario</a></li>
                                <li><a class="symfony-docs" href="{{ path('pantalla_pendientes') }}">Anomalías Pendientes</a></li>
                                <li><a class="symfony-docs" href="{{ path('pantalla_abiertas_asignadas') }}">Anomalías Abiertas Asignadas</a></li>
                                <li><a class="symfony-docs" href="{{ path('pantalla_porclasificacion') }}">Anomalías por Clasificación</a></li>
                                <li><a class="symfony-docs" href="{{ path('pantalla_portipo') }}">Anomalías por Tipo de Clasificación</a></li>
                            </ul>
                        </li>
                    {% endif %}

                </ul>
                <br>

                {% if is_granted('ROLE_SUPERV_SHA') or is_granted('ROLE_COORD_SHA') or is_granted('ROLE_ADMIN_SHA') %}
                    <h3>Configuración general</h3>
                    <ul class="nav side-menu">
                        <li><a href="{{ path('observador_index') }}"><i class="fa fa-user"></i>Observadores</a></li>
                        <li><a href="{{ path('supervisor_index') }}"><i class="fa fa-user-circle-o"></i>Supervisores</a></li>
                        <li><a href="{{ path('gerencia_index') }}"><i class="fa fa-sitemap"></i>Gerencias</a></li>
                    </ul>
                {% endif %}

                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <h3>Configuración general</h3>
                    <ul class="nav side-menu">
                        <li><a href="{{ path('observador_index') }}"><i class="fa fa-user"></i>Observadores</a></li>
                        <li><a href="{{ path('supervisor_index') }}"><i class="fa fa-user-circle-o"></i>Supervisores</a></li>
                        <li><a href="{{ path('gerencia_index') }}"><i class="fa fa-sitemap"></i>Gerencias</a></li>
                        <li><a href="{{ path('estatus_index') }}"><i class="fa fa-toggle-on"></i>Estatus</a></li>
                        <li><a href="{{ path('prioridad_index') }}"><i class="fa fa-level-up"></i>Prioridades</a></li>
                        <li><a href="{{ path('severidad_index') }}"><i class="fa fa-exclamation-triangle"></i>Severidades</a></li>
                        <li><a href="{{ path('sitio_index') }}"><i class="fa fa-map-marker"></i>Ubicaciones / Sitios</a></li>
                        <li><a href="{{ path('regladeoro_index') }}"><i class="fa fa-star-o"></i>Reglas de Oro</a></li>
                        <li><a href="{{ path('clasificacion_index') }}"><i class="fa fa-list-ol"></i>Clasificaciones</a></li>
                        <li><a href="{{ path('usuario_index') }}"><i class="fa fa-users"></i>Usuarios</a></li>
                    </ul>
                {% endif %}

            </div>
        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a href="{{ path('app_dashboard') }}" data-toggle="tooltip" data-placement="top" title="Tablero">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            </a>
            <a href="#" data-toggle="tooltip" data-placement="top" title="Manual de Usuario">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Perfil" href="{{ path('fos_user_profile_show') }}">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Cerrar Sesión" href="{{ path('fos_user_security_logout') }}">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>