<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <nav class="">
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                       aria-expanded="false">
                        {% if app.user.foto is not null %}
                            <img src="{{ vich_uploader_asset(app.user, 'imageFile', 'AppBundle\\Entity\\Usuario') }}" alt="">{{ app.user.username }}
                            <span class=" fa fa-angle-down"></span>
                        {% else %}
                            <img src="{{ asset('assets/images/user.png') }}" alt="">{{ app.user.username }}
                            <span class=" fa fa-angle-down"></span>
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li>
                            <a href="{{ path('fos_user_profile_show') }}">Perfil</a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out pull-right"></i> Cerrar Sesión</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- /top navigation -->