{% extends 'app/module.html.twig' %}

{% block module_title %}Clasificaciones{% endblock %}

{% block module_subtitle %}Lista de Clasificaciones{% endblock %}

{% block module_content %}

    <table id="index-dt" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Código</th>
                <th>Descripción</th>
                <th>Categoría</th>
                <th>Tipo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for clasificacion in clasificacions %}
            <tr>
                <td><a href="{{ path('clasificacion_show', { 'id': clasificacion.id }) }}">{{ clasificacion.codigo }}</a></td>

                <td>{{ clasificacion.descripcion }}</td>

                {% if (clasificacion.categoria == 'procedimientos') %}
                    <td>Procedimientos</td>
                {% elseif (clasificacion.categoria == 'herramientas') %}
                    <td>Herramientas / Equipos</td>
                {% elseif (clasificacion.categoria == 'epp') %}
                    <td>EPP</td>
                {% elseif (clasificacion.categoria == 'condicion') %}
                    <td>Condición del Sitio de trabajo</td>
                {% elseif (clasificacion.categoria == 'sistemas') %}
                    <td>Sistemas de seguridad</td>
                {% elseif (clasificacion.categoria == 'comportamiento') %}
                    <td>Comportamiento</td>
                {% endif %}

                {% if (clasificacion.tipo == 'acto') %}
                    <td>Acto inseguro</td>
                {% elseif (clasificacion.tipo == 'condicion') %}
                    <td>Condición insegura</td>
                {% endif %}

                <td>
                    <a href="{{ path('clasificacion_show', { 'id': clasificacion.id }) }}" class="btn btn-info btn-sm"
                       data-toggle="tooltip" title="Consultar">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a href="{{ path('clasificacion_edit', { 'id': clasificacion.id }) }}" class="btn btn-warning btn-sm"
                       data-toggle="tooltip" title="Editar">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br>
    <div class="pull-right">
        <a class="btn btn-default" href="{{ path('clasificacion_new') }}">
            <i class="fa fa-plus"></i> Crear Clasificación
        </a>
    </div>

{% endblock %}
