{% extends 'app/module.html.twig' %}

{% block module_title %}Clasificaciones{% endblock %}

{% block module_subtitle %}Clasificación{% endblock %}

{% block module_content %}

    <table class="table table-striped table-bordered display">
        <tbody>
            <tr>
                <th>Código</th>
                <td>{{ clasificacion.codigo }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ clasificacion.descripcion }}</td>
            </tr>
            <tr>
                <th>Categoría</th>
                {% if (clasificacion.categoria == 'procedimientos') %}
                    <td>Procedimientos</td>
                {% elseif (clasificacion.categoria == 'herramientas') %}
                    <td>Herramientas / Equipos</td>
                {% elseif (clasificacion.categoria == 'epp') %}
                    <td>EPP</td>
                {% elseif (clasificacion.categoria == 'condicion') %}
                    <td>Condición del Sitio de trabajo</td>
                {% elseif (clasificacion.categoria == 'sistemas') %}
                    <td>Sistemas de seguridad</td>
                {% elseif (clasificacion.categoria == 'comportamiento') %}
                    <td>Comportamiento</td>
                {% endif %}
            </tr>
            <tr>
                <th>Tipo</th>
                {% if (clasificacion.tipo == 'acto') %}
                    <td>Acto inseguro</td>
                {% elseif (clasificacion.tipo == 'condicion') %}
                    <td>Condición insegura</td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <div class="row" style="padding-top: 10px;">
        <div class="form-group pull-right">
            <a href="{{ path('clasificacion_edit', { 'id': clasificacion.id }) }}" class="btn btn-primary btn-md" role="button">
                <i class="fa fa-pencil" aria-hidden="true"></i></span> Editar
            </a>
        </div>
    </div>

    <div class="row" style="padding-top: 3px;">
        <div class="pull-right">
            <a href="{{ path('pantalla_porobservador') }}" class="btn btn-default btn-md" role="button">
                <i class="fa fa-list-ul" aria-hidden="true"></i></span> Regresar al listado
            </a>
        </div>
    </div>

{% endblock %}
