<form action="{{ path('fos_user_profile_edit') }}" enctype="multipart/form-data" method="POST" class="form-horizontal">
    {{ form_widget(form) }}

    <div class="form-group" id="fos_user_profile_form">

        {{ form_widget(form.username, { 'attr': {'class': 'form-control' } }) }}
        {{ form_errors(form.username) }}

        {{ form_widget(form.email, { 'attr': {'class': 'form-control' } }) }}
        {{ form_errors(form.email) }}

        {{ form_widget(form.current_password, { 'attr': {'class': 'form-control' } }) }}
        {{ form_errors(form.current_password) }}

        {{ form_rest(form) }}

        {% if app.user.foto is not null %}
            <div class="col-sm-10 col-sm-offset-2">
                <p align="left">
                    <a href="{{ vich_uploader_asset(app.user, 'imageFile', 'AppBundle\\Entity\\Usuario') }}" target="_blank">
                        <img src="{{ vich_uploader_asset(app.user, 'imageFile', 'AppBundle\\Entity\\Usuario') }}" alt="" class="img-thumbnail img-responsive" width="150">
                    </a>
                </p>
            </div>
        {% endif %}
    </div>

    <div class="col-sm-10 col-sm-offset-2">
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-edit"></span> {{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}
        </button>
        <a class="btn btn-primary" href="{{ path('fos_user_profile_show') }}">{{ 'profile.edit.back'|trans({}, 'FOSUserBundle') }}</a>
    </div>

</form>
