{% extends 'app/module.html.twig' %}

{% block module_title %}Perfil{% endblock %}

{% block module_subtitle %}Editar Perfil{% endblock %}

{% block module_content %}
{% include "FOSUserBundle:Profile:edit_content.html.twig" %}  
{% endblock %}
{% block plugins_js %}
    <script src="{{ asset('assets/vendors/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $('#fos_user_profile_form_color').colorpicker({
                colorSelectors: {
                    'black': '#000000',
                    'white': '#ffffff',
                    'red': '#FF0000',
                    'default': '#777777',
                    'primary': '#337ab7',
                    'success': '#5cb85c',
                    'info': '#5bc0de',
                    'warning': '#f0ad4e',
                    'danger': '#d9534f'
                },
                format: 'hex'
            });
        });
    </script>
{% endblock %}
{% block plugins_css %}
    <link type="text/css" rel="stylesheet" href="{{ asset('assets/vendors/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css') }}" />
{% endblock %}