<div class="row">
    <div class="col-md-3 col-xs-12">

        <div class="panel panel-default">
            <div class="panel-body">

                {% if user.foto is not null %}
                    <p align="center">
                        <a href="{{ vich_uploader_asset(user, 'imageFile', 'AppBundle\\Entity\\Usuario') }}" target="_blank">
                            <img src="{{ vich_uploader_asset(user, 'imageFile', 'AppBundle\\Entity\\Usuario') }}" alt="" class="img-circle" width="150">
                        </a>
                    </p>
                {% else %}
                    <p align="center"><img src="{{ asset('assets/images/user.png') }}" alt="" class="img-circle" width="150"></p>
                {% endif %}

                {% if user.nombre and user.apellido %}
                    <p class="usuario text-center">{{ user.nombre }} {{ user.apellido }}</p>
                {% else %}
                    <p class="usuario text-center">{{ user.username }}</p>
                {% endif %}

            </div>
        </div>

    </div>

    <div class="col-md-9 col-xs-12">

        <div class="panel panel-default">
            <div class="panel-heading">Detalles de la Cuenta</div>
            <div class="panel-body">

                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="inputName" class="col-xs-3 control-label">Nombre de usuario</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control active" placeholder="{{ user.username }}" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName" class="col-xs-3 control-label">Nombre</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control active" placeholder="{{ user.nombre }}" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName" class="col-xs-3 control-label">Apellidos</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control active" placeholder="{{ user.apellido }}" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-xs-3 control-label">Correo electrónico</label>
                        <div class="col-xs-9">
                            <input type="email" class="form-control active" placeholder="{{ user.email }}" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <a class="btn btn-primary" href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-fw fa-edit"></i>Editar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<br/>

<div style="text-align: right"><a href="{{ path('fos_user_change_password') }}" class="btn btn-default"><i class="fa fa-fw fa-lock"></i>Cambiar Contraseña</a></div>
