{% extends 'app/module.html.twig' %}

{% block module_title %}Usuario{% endblock %}

{% block module_subtitle %}Consultar Usuario{% endblock %}

{% block module_content %}
{% include "FOSUserBundle:Profile:show_content.html.twig" %}  
{% endblock %}