{% extends 'app/module.html.twig' %}

{% block module_title %}Prioridades{% endblock %}

{% block module_subtitle %}Lista de Prioridades{% endblock %}

{% block module_content %}

    <table id="index-dt" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Valor</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for prioridad in prioridads %}
            <tr>
                <td><a href="{{ path('prioridad_show', { 'id': prioridad.id }) }}">{{ prioridad.valor }}</a></td>
                <td>
                    <a href="{{ path('prioridad_show', { 'id': prioridad.id }) }}" class="btn btn-info btn-sm"
                       data-toggle="tooltip" title="Consultar">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a href="{{ path('prioridad_edit', { 'id': prioridad.id }) }}" class="btn btn-warning btn-sm"
                       data-toggle="tooltip" title="Editar">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br>
    <div class="pull-right">
        <a class="btn btn-default" href="{{ path('prioridad_new') }}">
            <i class="fa fa-plus"></i> Crear Prioridad
        </a>
    </div>

{% endblock %}
