{% extends 'app/module.html.twig' %}

{% block module_title %}Anomalías{% endblock %}

{% block module_subtitle %}Editar Anomalía{% endblock %}

{% block module_content %}


{% if anomalia.activo == 1 %}

    {{ form_start(edit_form, {'attr': {'id': 'appbundle_anomalia'}}) }}

    <div class="row">

        <div class="col-lg-6 box-ver texto_anverso-ver" id="anverso-ver">

            <div class="row">
                <div class="col-xs-6 col-sm-4 bg-blanco-ver">
                    <img src="{{ asset('assets/images/logo-tarjeta.png') }}" />
                </div>
                <div class="col-xs-6 col-sm-8 logo-bg-ver"></div>
            </div>

            <div class="row">
                <div class="col-xs-12 titulo-ver">Tarjeta de Reporte de Anomalía</div>
            </div>

            <div class="row">
                <div class="col-md-6 col-xs-9 subtitulo-ver">
                    <em>Acto / Condición Insegura</em>
                </div>
                <div class="col-md-6 col-xs-3"></div>
            </div>

            <div class="separador-ver"></div>

            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-10 bg-blanco-ver">
                    <div class="row">
                        <div class="col-xs-4 col-md-3 col-lg-2">
                            <div class="row" style="padding: 8px;">
                                <div class="separador-reglas-ver">
                                    <img src="{{ asset('assets/images/01.jpg') }}" />
                                </div>
                                <div class="separador-reglas-ver">
                                    <img src="{{ asset('assets/images/02.jpg') }}" />
                                </div>
                                <div class="separador-reglas-ver">
                                    <img src="{{ asset('assets/images/03.jpg') }}" />
                                </div>
                                <div class="separador-reglas-ver">
                                    <img src="{{ asset('assets/images/04.jpg') }}" />
                                </div>
                                <div class="separador-reglas-ver">
                                    <img src="{{ asset('assets/images/05.jpg') }}" />
                                </div>
                                <div class="separador-reglas-ver">
                                    <img src="{{ asset('assets/images/06.jpg') }}" />
                                </div>
                                <div class="separador-reglas-ver">
                                    <img src="{{ asset('assets/images/07.jpg') }}" />
                                </div>
                                <div class="separador-reglas-ver">
                                    <img src="{{ asset('assets/images/08.jpg') }}" />
                                </div>
                                <div class="separador-reglas-ver">
                                    <img src="{{ asset('assets/images/09.jpg') }}" />
                                </div>
                                <div class="separador-reglas-ver">
                                    <img src="{{ asset('assets/images/10.jpg') }}" />
                                </div>
                                <div class="separador-reglas-ver">
                                    <img src="{{ asset('assets/images/11.jpg') }}" />
                                </div>
                                <div class="separador-reglas-ver">
                                    <img src="{{ asset('assets/images/12.jpg') }}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-8 col-md-9 col-lg-10">
                            <div class="row">
                                <div class="form-group col-xs-12 col-md-6" style="padding-top: 5px">
                                    <label for="form_referencia">Ref.:</label>
                                    <br>{{ anomalia.referencia }}
                                </div>
                                <div class="form-group col-xs-12 col-md-6" style="padding-top: 5px">
                                    <label for="form_sitio">Ubicación / Sitio:</label>
                                    {{ form_widget(edit_form.sitio) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-xs-12" style="padding-top: 5px">
                                    <label for="form_anomalia">Anomalía identificada:</label>
                                    {{ form_widget(edit_form.anomalia) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-xs-12" style="padding-top: 5px">
                                    <label for="form_accionescorrectivas">Acciones correctivas inmediatas:</label>
                                    {{ form_widget(edit_form.accionescorrectivas) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-xs-12" style="padding-top: 5px">
                                    <label for="fechaobservacion" class="control-label">Fecha de observación:</label>
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </div>
                                        {{ form_widget(edit_form.fechaobservacion) }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label for="form_observador">Observador:</label>
                                    {{ form_widget(edit_form.observador) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-xs-12" style="padding-top: 5px">
                                    <label for="form_accionespreventivas">Acciones preventivas adicionales:</label>
                                    {{ form_widget(edit_form.accionespreventivas) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-xs-12" style="padding-top: 5px">
                                    <label for="fecha2">Fecha de registro de la anomalía:</label>
                                    <p>{% if anomalia.fecharegistro %}{{ anomalia.fecharegistro|date('d-m-Y') }}{% endif %}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label for="form_supervisor">Supervisor encargado:</label>
                                    {{ form_widget(edit_form.supervisor) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label for="form_gerencia">Gerencia:</label>
                                    {{ form_widget(edit_form.gerencia) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label for="fechapropuesta" class="control-label">Fecha propuesta:</label>
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </div>
                                        {{ form_widget(edit_form.fechapropuesta) }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label for="form_representante">Representante:</label>
                                    {{ form_widget(edit_form.representante) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-xs-12 col-md-6" style="padding-top: 5px">
                                    <label for="form_prioridad">Prioridad:</label>
                                    {{ form_widget(edit_form.prioridad) }}
                                </div>
                                <div class="form-group col-xs-12 col-md-6" style="padding-top: 5px;">
                                    <label for="form_severidad">Severidad:</label>
                                    {{ form_widget(edit_form.severidad) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label for="form_estatus">Estatus:</label>
                                    {{ form_widget(edit_form.estatus) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label for="form_regladeoro">Regla de Oro:</label>
                                    {{ form_widget(edit_form.regladeoro) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-1"></div>
            </div>

            <div class="separador-ver"></div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-9">
                            <p class="subrayar-ver">El reporte de anonalías busca preveer un ambiente de trabajo seguro</p>
                            <p class="subrayar-ver">Reportar anomalías es responsabilidad de todos</p>
                        </div>
                        <div class="col-xs-3" style="text-align: right"><img src="{{ asset('assets/images/seguridad-icon.png') }}" /></div>
                    </div>
                </div>
            </div>

            <div class="separador-ver"></div>
        </div>

        <div class="col-lg-6 box-ver" id="reverso-ver">
            <div class="row">
                <div class="col-xs-6 col-sm-4 bg-blanco-ver">
                    <img src="{{ asset('assets/images/logo-tarjeta.png') }}" />
                </div>
                <div class="col-xs-6 col-sm-8 logo-bg-ver"></div>
            </div>

            <div class="separador-ver"></div>

            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-10">
                    <table class="table table-bordered table-responsive table-condensed texto_tabla-ver" style="background: white">
                        <tbody>

                        <!-- Procedimientos -->
                        <tr><td colspan="3" class="titulo_tabla-ver">Procedimientos</td></tr>

                        {% for procedimiento in procedimientos %}

                            <tr>
                                {% if procedimiento.tipo == "acto" %}
                                    <td width="5%" class="bg-actoinseguro-ver"></td>
                                {% else %}
                                    <td width="5%" class="bg-condicioninsegura-ver"></td>
                                {% endif %}

                                <td width="80%">{{ procedimiento.descripcion }}</td>
                                <td width="15%" align="center">

                                    {% if procedimiento.codigo in detalles %}
                                        <input type="checkbox" name="{{ procedimiento.codigo }}" value="{{ procedimiento.codigo }}" checked="checked" />
                                    {% else %}
                                        <input type="checkbox" name="{{ procedimiento.codigo }}" value="{{ procedimiento.codigo }}" />
                                    {% endif %}

                                </td>
                            </tr>

                        {% endfor %}
                        <!-- Fin Procedimientos -->

                        <!-- Herramientas / Equipos -->
                        <tr><td colspan="3" class="titulo_tabla-ver">Herramientas / Equipos</td></tr>

                        {% for herramienta in herramientas %}

                            <tr>
                                {% if herramienta.tipo == "acto" %}
                                    <td width="5%" class="bg-actoinseguro-ver"></td>
                                {% else %}
                                    <td width="5%" class="bg-condicioninsegura-ver"></td>
                                {% endif %}

                                <td width="80%">{{ herramienta.descripcion }}</td>
                                <td width="15%" align="center">

                                    {% if herramienta.codigo in detalles %}
                                        <input type="checkbox" name="{{ herramienta.codigo }}" value="{{ herramienta.codigo }}" checked="checked" />
                                    {% else %}
                                        <input type="checkbox" name="{{ herramienta.codigo }}" value="{{ herramienta.codigo }}" />
                                    {% endif %}

                                </td>
                            </tr>

                        {% endfor %}
                        <!-- Fin Herramientas / Equipos -->

                        <!-- EPP -->
                        <tr><td colspan="3" class="titulo_tabla-ver">EPP</td></tr>

                        {% for epp in epps %}

                            <tr>
                                {% if epp.tipo == "acto" %}
                                    <td width="5%" class="bg-actoinseguro-ver"></td>
                                {% else %}
                                    <td width="5%" class="bg-condicioninsegura-ver"></td>
                                {% endif %}

                                <td width="80%">{{ epp.descripcion }}</td>
                                <td width="15%" align="center">

                                    {% if epp.codigo in detalles %}
                                        <input type="checkbox" name="{{ epp.codigo }}" value="{{ epp.codigo }}" checked="checked" />
                                    {% else %}
                                        <input type="checkbox" name="{{ epp.codigo }}" value="{{ epp.codigo }}" />
                                    {% endif %}

                                </td>
                            </tr>

                        {% endfor %}
                        <!-- Fin EPP -->

                        <!-- Condición del Sitio de trabajo -->
                        <tr><td colspan="3" class="titulo_tabla-ver">Condición del Sitio de trabajo</td></tr>

                        {% for condicion in condiciones %}

                            <tr>
                                {% if condicion.tipo == "acto" %}
                                    <td width="5%" class="bg-actoinseguro-ver"></td>
                                {% else %}
                                    <td width="5%" class="bg-condicioninsegura-ver"></td>
                                {% endif %}

                                <td width="80%">{{ condicion.descripcion }}</td>
                                <td width="15%" align="center">

                                    {% if condicion.codigo in detalles %}
                                        <input type="checkbox" name="{{ condicion.codigo }}" value="{{ condicion.codigo }}" checked="checked" />
                                    {% else %}
                                        <input type="checkbox" name="{{ condicion.codigo }}" value="{{ condicion.codigo }}" />
                                    {% endif %}

                                </td>
                            </tr>

                        {% endfor %}
                        <!-- Fin Condición del Sitio de trabajo -->

                        <!-- Sistemas de seguridad -->
                        <tr><td colspan="3" class="titulo_tabla-ver">Sistemas de seguridad</td></tr>

                        {% for sistema in sistemas %}

                            <tr>
                                {% if sistema.tipo == "acto" %}
                                    <td width="5%" class="bg-actoinseguro-ver"></td>
                                {% else %}
                                    <td width="5%" class="bg-condicioninsegura-ver"></td>
                                {% endif %}

                                <td width="80%">{{ sistema.descripcion }}</td>
                                <td width="15%" align="center">

                                    {% if sistema.codigo in detalles %}
                                        <input type="checkbox" name="{{ sistema.codigo }}" value="{{ sistema.codigo }}" checked="checked" />
                                    {% else %}
                                        <input type="checkbox" name="{{ sistema.codigo }}" value="{{ sistema.codigo }}" />
                                    {% endif %}

                                </td>
                            </tr>

                        {% endfor %}
                        <!-- Fin Sistemas de seguridad -->

                        <!-- Comportamiento -->
                        <tr><td colspan="3" class="titulo_tabla-ver">Comportamiento</td></tr>

                        {% for comportamiento in comportamientos %}

                            <tr>
                                {% if comportamiento.tipo == "acto" %}
                                    <td width="5%" class="bg-actoinseguro-ver"></td>
                                {% else %}
                                    <td width="5%" class="bg-condicioninsegura-ver"></td>
                                {% endif %}

                                <td width="80%">{{ comportamiento.descripcion }}</td>
                                <td width="15%" align="center">

                                    {% if comportamiento.codigo in detalles %}
                                        <input type="checkbox" name="{{ comportamiento.codigo }}" value="{{ comportamiento.codigo }}" checked="checked" />
                                    {% else %}
                                        <input type="checkbox" name="{{ comportamiento.codigo }}" value="{{ comportamiento.codigo }}" />
                                    {% endif %}

                                </td>
                            </tr>

                        {% endfor %}
                        <!-- Fin Comportamiento -->


                        <tr><td colspan="3"><strong>Otros:</strong></td></tr>
                        <tr>
                            <td colspan="3">
                                {{ form_widget(edit_form.otro) }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-1"></div>
            </div>

            <div>
                <table class="table-responsive" style="border: 0;">
                    <tr>
                        <td class="bg-actoinseguro-ver" width="3%"></td>
                        <td width="30%" class="leyenda-ver">&nbsp; Acto inseguro</td>
                        <td class="bg-condicioninsegura-ver" width="3%"></td>
                        <td width="30%" class="leyenda-ver">&nbsp; Condición insegura</td>
                    </tr>
                </table>
            </div>

            <div class="separador-ver"></div>
        </div>

    </div>

    {{ form_rest(edit_form) }}

    <div class="form-group pull-right" style="padding-top: 15px;">
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-edit "></i> Editar
        </button>
    </div>

    {{ form_end(edit_form) }}

    <div class="pull-right">
        <a href="{{ path('anomalia_index') }}" class="btn btn-default btn-md" role="button">
            <i class="fa fa-list-ul" aria-hidden="true"></i></span> Regresar al listado
        </a>
    </div>


{% else %}

    <div class="row" style="padding-top: 3px;">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="panel panel-danger">
                <div class="panel-heading">No se encontró la página solicitada</div>
                <div class="panel-body">
                    Lo sentimos, no se encontró información para la ubicación especificada.<br><br>

                    <p align="center">
                        <a href="{{ path('anomalia_index') }}" class="btn btn-default btn-md" role="button">
                            Regresar
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>

{% endif %}


{% endblock %}


{% block plugins_js %}

    <script src="{{ asset('assets/js/moment/moment.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/moment/locale/es.js') }}"></script>
    <script src="{{ asset('assets/vendors/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $('#appbundle_anomalia_fechaobservacion').datetimepicker({
                locale: 'es',
            });
        });

        $(function () {
            $('#appbundle_anomalia_fechapropuesta').datetimepicker({
                locale: 'es',
                //minDate: new Date()
            });
        });
    </script>

    <script type="text/javascript">

        $( "#appbundle_anomalia" ).submit(function( event ) {
            if($('input[type=checkbox]:checked').length == 0)
            {
                alert('Por favor, selecciona al menos un elemento de la tabla de clasificaciones: \n\nProcedimientos \nHerramientas / Equipos \nEPP \nCondición del Sitio de trabajo \nSistemas de seguridad \nComportamiento ');
                return false;
            }
        });

    </script>

{% endblock %}

{% block plugins_css %}
    <!-- Custom Theme Style -->
    <link href="{{ asset('assets/css/custom-tarjeta-ver.css') }}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ asset('assets/vendors/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" />
{% endblock %}