{% extends 'app/module.html.twig' %}

{% block module_title %}Anomalías{% endblock %}

{% block module_subtitle %}Lista de Anomalías{% endblock %}

{% block module_content %}

    <table id="index-dt" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Referencia</th>
                <th>Anomalía identificada</th>
                <th>Ubicación / Sitio</th>
                <th>Regla de Oro</th>
                <th>Estatus</th>
                <th>Fecha de observación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for anomalia in anomalias %}
            <tr>
                <td><a href="{{ path('anomalia_show', { 'id': anomalia.id }) }}">{{ anomalia.referencia }}</a></td>
                <td>{{ anomalia.anomalia|slice(0, 100) }}</td>
                <td>{{ anomalia.sitio.nombre }}</td>
                <td align="center">
                    <a data-toggle="tooltip" title="{{ anomalia.regladeoro.descripcion }}"><img src="{{ asset('uploads/reglas/') }}{{ anomalia.regladeoro.icono }}" /></a>
                </td>
                <td>{{ anomalia.estatus.nombre }}</td>
                <td>{% if anomalia.fechaobservacion %}{{ anomalia.fechaobservacion|date('d-m-Y') }}{% endif %}</td>
                <td>
                    <a href="{{ path('anomalia_ver', { 'id': anomalia.id }) }}" class="btn btn-success btn-sm"
                       data-toggle="tooltip" title="Visualizar en Tarjeta">
                        <i class="fa fa-id-card-o"></i>
                    </a>
                    <a href="{{ path('anomalia_show', { 'id': anomalia.id }) }}" class="btn btn-info btn-sm"
                       data-toggle="tooltip" title="Consultar">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a href="{{ path('anomalia_edit', { 'id': anomalia.id }) }}" class="btn btn-warning btn-sm"
                           data-toggle="tooltip" title="Editar">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br>
    <div class="pull-right">
        <a class="btn btn-default" href="{{ path('anomalia_new') }}">
            <i class="fa fa-plus"></i> Nueva Anomalía
        </a>
    </div>

{% endblock %}
