{% extends "app/base_tarjeta.html.twig" %}

{% block content %}

    {{ form_start(form, {'attr': {'id': 'appbundle_anomalia'}}) }}

    <div class="container">

        <div class="navbar navbar-inverse navbar-fixed-top barratop">
            <div class="row" style="padding-bottom: 20px;">
                <a href="{{ path('anomalia_index') }}" class="btn btn-default" role="button"><i class="fa fa-reply" aria-hidden="true"></i> Regresar</a>
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar Anomalía
                </button>
                <button type="reset" class="btn btn-primary">
                    <i class="fa fa-eraser" aria-hidden="true"></i> Limpiar
                </button>
            </div>
        </div>

        <div class="row" style="padding-top: 55px;">

            <div class="col-lg-6 box texto_anverso" id="anverso">

                <div class="row">
                    <div class="col-xs-6 col-sm-4 bg-blanco">
                        <img src="{{ asset('assets/images/logo-tarjeta.png') }}" />
                    </div>
                    <div class="col-xs-6 col-sm-8 logo-bg"></div>
                </div>

                <div class="row">
                    <div class="col-xs-12 titulo">Tarjeta de Reporte de Anomalía</div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-xs-9 subtitulo">
                        <em>Acto / Condición Insegura</em>
                    </div>
                    <div class="col-md-6 col-xs-3"></div>
                </div>

                <div class="separador"></div>

                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10 bg-blanco">
                        <div class="row">
                            <div class="col-xs-4 col-md-3 col-lg-2">
                                <div class="row" style="padding: 8px;">
                                    <div class="separador-reglas">
                                        <img src="{{ asset('assets/images/01.jpg') }}" />
                                    </div>
                                    <div class="separador-reglas">
                                        <img src="{{ asset('assets/images/02.jpg') }}" />
                                    </div>
                                    <div class="separador-reglas">
                                        <img src="{{ asset('assets/images/03.jpg') }}" />
                                    </div>
                                    <div class="separador-reglas">
                                        <img src="{{ asset('assets/images/04.jpg') }}" />
                                    </div>
                                    <div class="separador-reglas">
                                        <img src="{{ asset('assets/images/05.jpg') }}" />
                                    </div>
                                    <div class="separador-reglas">
                                        <img src="{{ asset('assets/images/06.jpg') }}" />
                                    </div>
                                    <div class="separador-reglas">
                                        <img src="{{ asset('assets/images/07.jpg') }}" />
                                    </div>
                                    <div class="separador-reglas">
                                        <img src="{{ asset('assets/images/08.jpg') }}" />
                                    </div>
                                    <div class="separador-reglas">
                                        <img src="{{ asset('assets/images/09.jpg') }}" />
                                    </div>
                                    <div class="separador-reglas">
                                        <img src="{{ asset('assets/images/10.jpg') }}" />
                                    </div>
                                    <div class="separador-reglas">
                                        <img src="{{ asset('assets/images/11.jpg') }}" />
                                    </div>
                                    <div class="separador-reglas">
                                        <img src="{{ asset('assets/images/12.jpg') }}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-8 col-md-9 col-lg-10">
                                <div class="row">
                                    <div class="form-group col-xs-12" style="padding-top: 5px">
                                        <label for="form_sitio">Ubicación / Sitio:</label>
                                        {{ form_widget(form.sitio) }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-xs-12" style="padding-top: 5px">
                                        <label for="form_anomalia">Anomalía identificada:</label>
                                        {{ form_widget(form.anomalia) }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-xs-12" style="padding-top: 5px">
                                        <label for="form_accionescorrectivas">Acciones correctivas inmediatas:</label>
                                        {{ form_widget(form.accionescorrectivas) }}
                                    </div>
                                </div>                             

                                <div class="row">
                                    <div class="form-group col-xs-12" style="padding-top: 5px">
                                        <label for="fechaobservacion" class="control-label">Fecha de observación:</label>  
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </div>
                                            {{ form_widget(form.fechaobservacion) }}
                                        </div>     
                                    </div>     
                                </div>

                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <label for="form_observador">Observador:</label>
                                        {{ form_widget(form.observador) }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-xs-12" style="padding-top: 5px">
                                        <label for="form_accionespreventivas">Acciones preventivas adicionales:</label>
                                        {{ form_widget(form.accionespreventivas) }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-xs-12" style="padding-top: 5px">
                                        <label for="fecha2">Fecha de registro de la anomalía:</label>
                                        {{ "now"|date("d/m/Y H:i") }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <label for="form_supervisor">Supervisor encargado:</label>
                                        {{ form_widget(form.supervisor) }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <label for="form_gerencia">Gerencia:</label>
                                        {{ form_widget(form.gerencia) }}
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <label for="fechapropuesta" class="control-label">Fecha propuesta:</label>                                        
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </div>
                                            {{ form_widget(form.fechapropuesta) }}
                                        </div>     
                                    </div>     
                                </div>

                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <label for="form_representante">Representante:</label>
                                        {{ form_widget(form.representante) }}
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="form-group col-xs-12 col-md-6" style="padding-top: 5px">
                                        <label for="form_prioridad">Prioridad:</label>
                                        {{ form_widget(form.prioridad) }}
                                    </div>
                                    <div class="form-group col-xs-12 col-md-6" style="padding-top: 5px;">
                                        <label for="form_severidad">Severidad:</label>
                                        {{ form_widget(form.severidad) }}
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <label for="form_estatus">Estatus:</label>
                                        {{ form_widget(form.estatus) }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <label for="form_regladeoro">Regla de Oro:</label>
                                        {{ form_widget(form.regladeoro) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-1"></div>
                </div>

                <div class="separador"></div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-9">
                                <p class="subrayar">El reporte de anonalías busca preveer un ambiente de trabajo seguro</p>
                                <p class="subrayar">Reportar anomalías es responsabilidad de todos</p>
                            </div>
                            <div class="col-xs-3" style="text-align: right"><img src="{{ asset('assets/images/seguridad-icon.png') }}" /></div>
                        </div>
                    </div>
                </div>

                <div class="separador"></div>
            </div>

            <div class="col-lg-6 box" id="reverso">
                <div class="row">
                    <div class="col-xs-6 col-sm-4 bg-blanco">
                        <img src="{{ asset('assets/images/logo-tarjeta.png') }}" />
                    </div>
                    <div class="col-xs-6 col-sm-8 logo-bg"></div>
                </div>

                <div class="separador"></div>

                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10">
                        <table class="table table-bordered table-responsive table-condensed texto_tabla" style="background: white">
                            <tbody>

                            <!-- Procedimientos -->
                            <tr><td colspan="3" class="titulo_tabla">Procedimientos</td></tr>

                            {% set i = 0 %}
                            {% for procedimiento in procedimientos %}

                                <tr>
                                    {% if procedimiento.tipo == "acto" %}
                                        <td width="5%" class="bg-actoinseguro"></td>
                                    {% else %}
                                        <td width="5%" class="bg-condicioninsegura"></td>
                                    {% endif %}

                                    <td width="80%">{{ procedimiento.descripcion }}</td>
                                    <td width="15%" align="center"><input type="checkbox" name="{{ procedimiento.codigo }}" value="{{ procedimiento.codigo }}" /></td>
                                </tr>

                                {% set i = i + 1 %}
                            {% endfor %}
                            <!-- Fin Procedimientos -->


                            <!-- Herramientas / Equipos -->
                            <tr><td colspan="3" class="titulo_tabla">Herramientas / Equipos</td></tr>

                            {% set i = 0 %}
                            {% for herramienta in herramientas %}

                                <tr>
                                    {% if herramienta.tipo == "acto" %}
                                        <td width="5%" class="bg-actoinseguro"></td>
                                    {% else %}
                                        <td width="5%" class="bg-condicioninsegura"></td>
                                    {% endif %}

                                    <td width="80%">{{ herramienta.descripcion }}</td>
                                    <td width="15%" align="center"><input type="checkbox" name="{{ herramienta.codigo }}" value="{{ herramienta.codigo }}" /></td>
                                </tr>

                                {% set i = i + 1 %}
                            {% endfor %}
                            <!-- Fin Herramientas / Equipos -->


                            <!-- EPP -->
                            <tr><td colspan="3" class="titulo_tabla">EPP</td></tr>

                            {% set i = 0 %}
                            {% for epp in epps %}

                                <tr>
                                    {% if epp.tipo == "acto" %}
                                        <td width="5%" class="bg-actoinseguro"></td>
                                    {% else %}
                                        <td width="5%" class="bg-condicioninsegura"></td>
                                    {% endif %}

                                    <td width="80%">{{ epp.descripcion }}</td>
                                    <td width="15%" align="center"><input type="checkbox" name="{{ epp.codigo }}" value="{{ epp.codigo }}" /></td>
                                </tr>

                                {% set i = i + 1 %}
                            {% endfor %}
                            <!-- Fin EPP -->


                            <!-- Condición del Sitio de trabajo -->
                            <tr><td colspan="3" class="titulo_tabla">Condición del Sitio de trabajo</td></tr>

                            {% set i = 0 %}
                            {% for condicion in condiciones %}

                                <tr>
                                    {% if condicion.tipo == "acto" %}
                                        <td width="5%" class="bg-actoinseguro"></td>
                                    {% else %}
                                        <td width="5%" class="bg-condicioninsegura"></td>
                                    {% endif %}

                                    <td width="80%">{{ condicion.descripcion }}</td>
                                    <td width="15%" align="center"><input type="checkbox" name="{{ condicion.codigo }}" value="{{ condicion.codigo }}" /></td>
                                </tr>

                                {% set i = i + 1 %}
                            {% endfor %}
                            <!-- Fin Condición del Sitio de trabajo -->


                            <!-- Sistemas de seguridad -->
                            <tr><td colspan="3" class="titulo_tabla">Sistemas de seguridad</td></tr>

                            {% set i = 0 %}
                            {% for sistema in sistemas %}

                                <tr>
                                    {% if sistema.tipo == "acto" %}
                                        <td width="5%" class="bg-actoinseguro"></td>
                                    {% else %}
                                        <td width="5%" class="bg-condicioninsegura"></td>
                                    {% endif %}

                                    <td width="80%">{{ sistema.descripcion }}</td>
                                    <td width="15%" align="center"><input type="checkbox" name="{{ sistema.codigo }}" value="{{ sistema.codigo }}" /></td>
                                </tr>

                                {% set i = i + 1 %}
                            {% endfor %}
                            <!-- Fin Sistemas de seguridad -->


                            <!-- Comportamiento -->
                            <tr><td colspan="3" class="titulo_tabla">Comportamiento</td></tr>

                            {% set i = 0 %}
                            {% for comportamiento in comportamientos %}

                                <tr>
                                    {% if comportamiento.tipo == "acto" %}
                                        <td width="5%" class="bg-actoinseguro"></td>
                                    {% else %}
                                        <td width="5%" class="bg-condicioninsegura"></td>
                                    {% endif %}

                                    <td width="80%">{{ comportamiento.descripcion }}</td>
                                    <td width="15%" align="center"><input type="checkbox" name="{{ comportamiento.codigo }}" value="{{ comportamiento.codigo }}" /></td>
                                </tr>

                                {% set i = i + 1 %}
                            {% endfor %}
                            <!-- Fin Comportamiento -->


                            <tr><td colspan="3"><strong>Otros:</strong></td></tr>
                            <tr>
                                <td colspan="3">
                                    {{ form_widget(form.otro) }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-1"></div>
                </div>

                <div>
                    <table class="table-responsive" style="border: 0;">
                        <tr>
                            <td class="bg-actoinseguro" width="3%"></td>
                            <td width="30%" class="leyenda">&nbsp; Acto inseguro</td>
                            <td class="bg-condicioninsegura" width="3%"></td>
                            <td width="30%" class="leyenda">&nbsp; Condición insegura</td>
                        </tr>
                    </table>
                </div>

                <div class="separador"></div>
            </div>

        </div>
    </div>

        {{ form_rest(form) }}
    {{ form_end(form) }}

{% endblock %}

{% block plugins_js %}

    <script src="{{ asset('assets/js/moment/moment.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/moment/locale/es.js') }}"></script>
    <script src="{{ asset('assets/vendors/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $('#appbundle_anomalia_fechaobservacion').datetimepicker({
                locale: 'es',
            });
        });

        $(function () {
            $('#appbundle_anomalia_fechapropuesta').datetimepicker({
                locale: 'es',
                minDate: new Date()
            });
        });
    </script>

    <script type="text/javascript">

        $( "#appbundle_anomalia" ).submit(function( event ) {
            if($('input[type=checkbox]:checked').length == 0)
            {
                alert('Por favor, selecciona al menos un elemento de la tabla de clasificaciones: \n\nProcedimientos \nHerramientas / Equipos \nEPP \nCondición del Sitio de trabajo \nSistemas de seguridad \nComportamiento ');
                return false;
            }
        });

    </script>

{% endblock %}

{% block plugins_css %}
    <link type="text/css" rel="stylesheet" href="{{ asset('assets/vendors/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" />
{% endblock %}