{% extends 'app/module.html.twig' %}

{% block module_title %}Anomalías{% endblock %}

{% block module_subtitle %}Anomalía{% endblock %}

{% block module_content %}


{% if anomalia.activo == 1 %}

    <table class="table table-striped table-bordered display">
        <tbody>
            <tr>
                <th width="35%">Referencia</th>
                <td width="65%"><a href="{{ path('anomalia_ver', { 'id': anomalia.id }) }}">{{ anomalia.referencia }}</a></td>
            </tr>
            <tr>
                <th>Ubicación / Sitio</th>
                <td>{{ anomalia.sitio.nombre }}</td>
            </tr>
            <tr>
                <th>Anomalía identificada</th>
                <td>{{ anomalia.anomalia }}</td>
            </tr>
            <tr>
                <th>Acciones correctivas inmediatas</th>
                <td>{{ anomalia.accionescorrectivas }}</td>
            </tr>
            <tr>
                <th>Fecha de observación</th>
                <td>{% if anomalia.fechaobservacion %}{{ anomalia.fechaobservacion|date('d-m-Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Observador</th>
                <td>{{ anomalia.observador.nombre }}</td>
            </tr>
            <tr>
                <th>Acciones preventivas adicionales</th>
                <td>{{ anomalia.accionespreventivas }}</td>
            </tr>
            <tr>
                <th>Supervisor encargado</th>
                <td>{{ anomalia.supervisor.nombre }}</td>
            </tr>
            <tr>
                <th>Gerencia</th>
                <td>{{ anomalia.gerencia.nombre }}</td>
            </tr>
            <tr>
                <th>Fecha propuesta</th>
                <td>{% if anomalia.fechapropuesta %}{{ anomalia.fechapropuesta|date('d-m-Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Representante</th>
                <td>{{ anomalia.representante }}</td>
            </tr>
            <tr>
                <th>Prioridad</th>
                <td>{{ anomalia.prioridad.valor }}</td>
            </tr>
            <tr>
                <th>Severidad</th>
                <td>{{ anomalia.severidad.valor }}</td>
            </tr>
            <tr>
                <th>Estatus</th>
                <td>{{ anomalia.estatus.nombre }}</td>
            </tr>
            <tr>
                <th>Regla de Oro</th>
                <td><img src="{{ asset('uploads/reglas/') }}{{ anomalia.regladeoro.icono }}" /> {{ anomalia.regladeoro.descripcion }}</td>
            </tr>
        </tbody>
    </table>
    <br>

    <table class="table table-striped table-bordered display">
        <tbody>
            <tr>
                <th colspan="2">Detalle de la Anomalía</th>
            </tr>

            {% if procedimientos %}
            <tr>
                <th width="35%">Procedimientos</th>
                <td width="65%">
                    {% for procedimiento in procedimientos %}
                        <i class="fa fa-check" aria-hidden="true"></i> {{ procedimiento.descripcion}}
                        <br>
                    {% endfor %}
                </td>
            </tr>
            {% endif %}

            {% if herramientas %}
                <tr>
                    <th width="35%">Herramientas / Equipos</th>
                    <td width="65%">
                        {% for herramienta in herramientas %}
                            <i class="fa fa-check" aria-hidden="true"></i> {{ herramienta.descripcion}}
                            <br>
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}

            {% if epps %}
                <tr>
                    <th width="35%">EPP</th>
                    <td width="65%">
                        {% for epp in epps %}
                            <i class="fa fa-check" aria-hidden="true"></i> {{ epp.descripcion}}
                            <br>
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}

            {% if condiciones %}
                <tr>
                    <th width="35%">Condición del Sitio de trabajo</th>
                    <td width="65%">
                        {% for condicion in condiciones %}
                            <i class="fa fa-check" aria-hidden="true"></i> {{ condicion.descripcion}}
                            <br>
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}

            {% if sistemas %}
                <tr>
                    <th width="35%">Sistemas de seguridad</th>
                    <td width="65%">
                        {% for sistema in sistemas %}
                            <i class="fa fa-check" aria-hidden="true"></i> {{ sistema.descripcion}}
                            <br>
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}

            {% if comportamientos %}
                <tr>
                    <th width="35%">Comportamiento</th>
                    <td width="65%">
                        {% for comportamiento in comportamientos %}
                            <i class="fa fa-check" aria-hidden="true"></i> {{ comportamiento.descripcion}}
                            <br>
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}

            <tr>
                <th>Otros</th>
                <td>{{ anomalia.otro }}</td>
            </tr>
            <tr>
                <th>Registrada el</th>
                <td>{% if anomalia.fecharegistro %}{{ anomalia.fecharegistro|date('d-m-Y') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>


    {{ form_start(delete_form) }}
    <div class="row" style="padding-top: 10px;">
        <div class="form-group pull-right">
            <a href="{{ path('anomalia_edit', { 'id': anomalia.id }) }}" class="btn btn-primary btn-md" role="button">
                <i class="fa fa-pencil" aria-hidden="true"></i></span> Editar
            </a>
            <a href="{{ path('anomalia_ver', { 'id': anomalia.id }) }}" class="btn btn-primary btn-md" role="button">
                <i class="fa fa-id-card-o" aria-hidden="true"></i></span> Ver en Tarjeta
            </a>

            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN_SHA') %}
                <button type="submit" class="btn btn-danger btn-md" onclick="return confirm(' ¿Está seguro que desea eliminar la Anomalía?. Esta acción NO se puede deshacer. ');">
                    <i class="fa fa-times" aria-hidden="true"></i> Eliminar
                </button>
            {% endif %}
        </div>
    </div>
    {{ form_end(delete_form) }}

    <div class="row" style="padding-top: 3px;">
        <div class="pull-right">
            <a href="{{ path('anomalia_index') }}" class="btn btn-default btn-md" role="button">
                <i class="fa fa-list-ul" aria-hidden="true"></i></span> Regresar al listado
            </a>
        </div>
    </div>


{% else %}

    <div class="row" style="padding-top: 3px;">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="panel panel-danger">
                <div class="panel-heading">No se encontró la página solicitada</div>
                <div class="panel-body">
                    Lo sentimos, no se encontró información para la ubicación especificada.<br><br>

                    <p align="center">
                        <a href="{{ path('anomalia_index') }}" class="btn btn-default btn-md" role="button">
                            Regresar
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>

{% endif %}


{% endblock %}
