{% extends 'app/module.html.twig' %}

{% block module_title %}Anomalías{% endblock %}

{% block module_subtitle %}Anomalía {% if anomalia.activo == 1 %}{{ anomalia.referencia }}{% endif %}{% endblock %}

{% block module_content %}


{% if anomalia.activo == 1 %}

    <div class="row">

        <div class="col-lg-6 box-ver texto_anverso-ver" id="anverso-ver">

            <div class="row">
                <div class="col-xs-6 col-sm-4 bg-blanco-ver">
                    <img src="{{ asset('assets/images/logo-tarjeta.png') }}" />
                </div>
                <div class="col-xs-6 col-sm-8 logo-bg-ver"></div>
            </div>

            <div class="row">
                <div class="col-xs-12 titulo-ver">Tarjeta de Reporte de Anomalía</div>
            </div>

            <div class="row">
                <div class="col-md-6 col-xs-9 subtitulo-ver">
                    <em>Acto / Condición Insegura</em>
                </div>
                <div class="col-md-6 col-xs-3"></div>
            </div>

            <div class="separador-ver"></div>

            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-10 bg-blanco-ver">
                    <div class="row">
                        <div class="col-xs-4 col-md-3 col-lg-2">
                            <div class="row" style="padding: 8px;">
                                <div class="separador-reglas-ver">
                                    <img src="{{ asset('assets/images/01.jpg') }}" />
                                </div>
                                <div class="separador-reglas-ver">
                                    <img src="{{ asset('assets/images/02.jpg') }}" />
                                </div>
                                <div class="separador-reglas-ver">
                                    <img src="{{ asset('assets/images/03.jpg') }}" />
                                </div>
                                <div class="separador-reglas-ver">
                                    <img src="{{ asset('assets/images/04.jpg') }}" />
                                </div>
                                <div class="separador-reglas-ver">
                                    <img src="{{ asset('assets/images/05.jpg') }}" />
                                </div>
                                <div class="separador-reglas-ver">
                                    <img src="{{ asset('assets/images/06.jpg') }}" />
                                </div>
                                <div class="separador-reglas-ver">
                                    <img src="{{ asset('assets/images/07.jpg') }}" />
                                </div>
                                <div class="separador-reglas-ver">
                                    <img src="{{ asset('assets/images/08.jpg') }}" />
                                </div>
                                <div class="separador-reglas-ver">
                                    <img src="{{ asset('assets/images/09.jpg') }}" />
                                </div>
                                <div class="separador-reglas-ver">
                                    <img src="{{ asset('assets/images/10.jpg') }}" />
                                </div>
                                <div class="separador-reglas-ver">
                                    <img src="{{ asset('assets/images/11.jpg') }}" />
                                </div>
                                <div class="separador-reglas-ver">
                                    <img src="{{ asset('assets/images/12.jpg') }}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-8 col-md-9 col-lg-10">
                            <div class="row">
                                <div class="form-group col-xs-12 col-md-6" style="padding-top: 5px">
                                    <label>Ref.:</label>
                                    <p>{{ anomalia.referencia }}</p>
                                </div>
                                <div class="form-group col-xs-12 col-md-6" style="padding-top: 5px">
                                    <label>Ubicación / Sitio:</label>
                                    <p>{{ anomalia.sitio.nombre }}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-xs-12" style="padding-top: 5px">
                                    <label>Anomalía identificada:</label>
                                    <p>{{ anomalia.anomalia }}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-xs-12" style="padding-top: 5px">
                                    <label>Acciones correctivas inmediatas:</label>
                                    <p>{{ anomalia.accionescorrectivas }}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-xs-12" style="padding-top: 5px">
                                    <label>Fecha de observación:</label>
                                    <p>{% if anomalia.fechaobservacion %}{{ anomalia.fechaobservacion|date('d-m-Y') }}{% endif %}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label>Observador:</label>
                                    <p>{{ anomalia.observador.nombre }}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-xs-12" style="padding-top: 5px">
                                    <label>Acciones preventivas adicionales:</label>
                                    <p>{{ anomalia.accionespreventivas }}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-xs-12" style="padding-top: 5px">
                                    <label>Fecha de registro de la anomalía:</label>
                                    <p>{% if anomalia.fecharegistro %}{{ anomalia.fecharegistro|date('d-m-Y') }}{% endif %}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label>Supervisor encargado:</label>
                                    <p>{{ anomalia.supervisor.nombre }}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label>Gerencia:</label>
                                    <p>{{ anomalia.gerencia.nombre }}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label>Fecha propuesta:</label>
                                    <p>{% if anomalia.fechapropuesta %}{{ anomalia.fechapropuesta|date('d-m-Y') }}{% endif %}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label>Representante:</label>
                                    <p>{{ anomalia.representante }}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-xs-12 col-md-6" style="padding-top: 5px">
                                    <label>Prioridad:</label>
                                    <p>{{ anomalia.prioridad.valor }}</p>
                                </div>
                                <div class="form-group col-xs-12 col-md-6" style="padding-top: 5px;">
                                    <label>Severidad:</label>
                                    <p>{{ anomalia.severidad.valor }}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label>Estatus:</label>
                                    <p>{{ anomalia.estatus.nombre }}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label>Regla de Oro:</label>
                                    <p><img src="{{ asset('uploads/reglas/') }}{{ anomalia.regladeoro.icono }}" /> &nbsp; {{ anomalia.regladeoro.descripcion }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-1"></div>
            </div>

            <div class="separador-ver"></div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-9">
                            <p class="subrayar-ver">El reporte de anonalías busca preveer un ambiente de trabajo seguro</p>
                            <p class="subrayar-ver">Reportar anomalías es responsabilidad de todos</p>
                        </div>
                        <div class="col-xs-3" style="text-align: right"><img src="{{ asset('assets/images/seguridad-icon.png') }}" /></div>
                    </div>
                </div>
            </div>

            <div class="separador-ver"></div>
        </div>

        <div class="col-lg-6 box-ver" id="reverso-ver">
            <div class="row">
                <div class="col-xs-6 col-sm-4 bg-blanco-ver">
                    <img src="{{ asset('assets/images/logo-tarjeta.png') }}" />
                </div>
                <div class="col-xs-6 col-sm-8 logo-bg-ver"></div>
            </div>

            <div class="separador-ver"></div>

            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-10">
                    <table class="table table-bordered table-responsive table-condensed texto_tabla-ver" style="background: white">
                        <tbody>

                        <!-- Procedimientos -->
                        <tr><td colspan="3" class="titulo_tabla-ver">Procedimientos</td></tr>

                        {% for procedimiento in procedimientos %}

                            <tr>
                                {% if procedimiento.tipo == "acto" %}
                                    <td width="5%" class="bg-actoinseguro-ver"></td>
                                {% else %}
                                    <td width="5%" class="bg-condicioninsegura-ver"></td>
                                {% endif %}

                                <td width="80%">{{ procedimiento.descripcion }}</td>
                                <td width="15%" align="center">

                                    {% for detalle in detalles %}
                                        {% if procedimiento.id == detalle.clasificacion.id %}
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        {% endif %}
                                    {% endfor %}

                                </td>
                            </tr>

                        {% endfor %}

                        <!-- Herramientas / Equipos -->
                        <tr><td colspan="3" class="titulo_tabla-ver">Herramientas / Equipos</td></tr>

                        {% for herramienta in herramientas %}

                            <tr>
                                {% if herramienta.tipo == "acto" %}
                                    <td width="5%" class="bg-actoinseguro-ver"></td>
                                {% else %}
                                    <td width="5%" class="bg-condicioninsegura-ver"></td>
                                {% endif %}

                                <td width="80%">{{ herramienta.descripcion }}</td>
                                <td width="15%" align="center">

                                    {% for detalle in detalles %}
                                        {% if herramienta.id == detalle.clasificacion.id %}
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        {% endif %}
                                    {% endfor %}

                                </td>
                            </tr>

                        {% endfor %}
                        <!-- Fin Herramientas / Equipos -->

                        <!-- EPP -->
                        <tr><td colspan="3" class="titulo_tabla-ver">EPP</td></tr>

                        {% for epp in epps %}

                            <tr>
                                {% if epp.tipo == "acto" %}
                                    <td width="5%" class="bg-actoinseguro-ver"></td>
                                {% else %}
                                    <td width="5%" class="bg-condicioninsegura-ver"></td>
                                {% endif %}

                                <td width="80%">{{ epp.descripcion }}</td>
                                <td width="15%" align="center">

                                    {% for detalle in detalles %}
                                        {% if epp.id == detalle.clasificacion.id %}
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        {% endif %}
                                    {% endfor %}

                                </td>
                            </tr>

                        {% endfor %}
                        <!-- Fin EPP -->

                        <!-- Condición del Sitio de trabajo -->
                        <tr><td colspan="3" class="titulo_tabla-ver">Condición del Sitio de trabajo</td></tr>

                        {% for condicion in condiciones %}

                            <tr>
                                {% if condicion.tipo == "acto" %}
                                    <td width="5%" class="bg-actoinseguro-ver"></td>
                                {% else %}
                                    <td width="5%" class="bg-condicioninsegura-ver"></td>
                                {% endif %}

                                <td width="80%">{{ condicion.descripcion }}</td>
                                <td width="15%" align="center">

                                    {% for detalle in detalles %}
                                        {% if condicion.id == detalle.clasificacion.id %}
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        {% endif %}
                                    {% endfor %}

                                </td>
                            </tr>

                        {% endfor %}
                        <!-- Fin Condición del Sitio de trabajo -->

                        <!-- Sistemas de seguridad -->
                        <tr><td colspan="3" class="titulo_tabla-ver">Sistemas de seguridad</td></tr>

                        {% for sistema in sistemas %}

                            <tr>
                                {% if sistema.tipo == "acto" %}
                                    <td width="5%" class="bg-actoinseguro-ver"></td>
                                {% else %}
                                    <td width="5%" class="bg-condicioninsegura-ver"></td>
                                {% endif %}

                                <td width="80%">{{ sistema.descripcion }}</td>
                                <td width="15%" align="center">

                                    {% for detalle in detalles %}
                                        {% if sistema.id == detalle.clasificacion.id %}
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        {% endif %}
                                    {% endfor %}

                                </td>
                            </tr>

                        {% endfor %}
                        <!-- Fin Sistemas de seguridad -->

                        <!-- Comportamiento -->
                        <tr><td colspan="3" class="titulo_tabla-ver">Comportamiento</td></tr>

                        {% for comportamiento in comportamientos %}

                            <tr>
                                {% if comportamiento.tipo == "acto" %}
                                    <td width="5%" class="bg-actoinseguro-ver"></td>
                                {% else %}
                                    <td width="5%" class="bg-condicioninsegura-ver"></td>
                                {% endif %}

                                <td width="80%">{{ comportamiento.descripcion }}</td>
                                <td width="15%" align="center">

                                    {% for detalle in detalles %}
                                        {% if comportamiento.id == detalle.clasificacion.id %}
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        {% endif %}
                                    {% endfor %}

                                </td>
                            </tr>

                        {% endfor %}
                        <!-- Fin Comportamiento -->

                        <tr><td colspan="3"><strong>Otros:</strong></td></tr>
                        <tr>
                            <td colspan="3">
                                {{ anomalia.otro }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-1"></div>
            </div>

            <div>
                <table class="table-responsive" style="border: 0;">
                    <tr>
                        <td class="bg-actoinseguro-ver" width="3%"></td>
                        <td width="30%" class="leyenda-ver">&nbsp; Acto inseguro</td>
                        <td class="bg-condicioninsegura-ver" width="3%"></td>
                        <td width="30%" class="leyenda-ver">&nbsp; Condición insegura</td>
                    </tr>
                </table>
            </div>

            <div class="separador-ver"></div>
        </div>
    </div>

    <div class="row">
        <p>{% if anomalia.fecharegistro %} <strong>Registrada el:</strong> {{ anomalia.fecharegistro|date('d-m-Y') }}{% endif %}</p>
    </div>

    {{ form_start(delete_form) }}
    <div class="row" style="padding-top: 10px;">
        <div class="form-group pull-right">
            <a href="{{ path('anomalia_edit', { 'id': anomalia.id }) }}" class="btn btn-primary btn-md" role="button">
                <i class="fa fa-pencil" aria-hidden="true"></i></span> Editar
            </a>

            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN_SHA') %}
                <button type="submit" class="btn btn-danger btn-md" onclick="return confirm(' ¿Está seguro que desea eliminar la Anomalía?. Esta acción NO se puede deshacer. ');">
                    <i class="fa fa-times" aria-hidden="true"></i> Eliminar
                </button>
            {% endif %}
        </div>
    </div>
    {{ form_end(delete_form) }}

    <div class="row" style="padding-top: 3px;">
        <div class="pull-right">
            <a href="{{ path('anomalia_index') }}" class="btn btn-default btn-md" role="button">
                <i class="fa fa-list-ul" aria-hidden="true"></i></span> Regresar al listado
            </a>
        </div>
    </div>


{% else %}

    <div class="row" style="padding-top: 3px;">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="panel panel-danger">
                <div class="panel-heading">No se encontró la página solicitada</div>
                <div class="panel-body">
                    Lo sentimos, no se encontró información para la ubicación especificada.<br><br>

                    <p align="center">
                        <a href="{{ path('anomalia_index') }}" class="btn btn-default btn-md" role="button">
                            Regresar
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>

{% endif %}

{% endblock %}

{% block plugins_css %}
    <!-- Custom Theme Style -->
    <link href="{{ asset('assets/css/custom-tarjeta-ver.css') }}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ asset('assets/vendors/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" />
{% endblock %}
