{% extends 'app/module.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block module_title %}Usuario{% endblock %}

{% block module_subtitle %}Registro{% endblock %}

{% block module_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}

    <br>
    <div class="pull-right">
        <a class="btn btn-primary" href="{{ path('usuario_index') }}">{{ 'profile.edit.back'|trans({}, 'FOSUserBundle') }}</a>
    </div>
{% endblock module_content %}
