{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}

    <div class="form-group">
        <label class="col-sm-2 control-label required" for="rol">Rol</label>
        <div class="col-sm-10">
            <select class="form-control" size="7" name="rol" required>
                <option value=""> -- Seleccione una opción -- </option>
                <option value="ROLE_SUPER_ADMIN">Super Administrador</option>
                <option value="ROLE_SUPERV_SHA">Supervisor SHA</option>
                <option value="ROLE_COORD_SHA">Coordinador SHA</option>
                <option value="ROLE_ADMIN_SHA">Administrador SHA</option>
                <option value="ROLE_REPORTES">Reportes</option>
                <option value="ROLE_USUARIO">Usuario</option>
            </select>
        </div>
    </div>

    <div class="col-sm-10 col-sm-offset-2">
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-edit"></span> {{ 'registration.submit'|trans }}
        </button>
        <a class="btn btn-primary" href="{{ path('usuario_index') }}">{{ 'profile.edit.back'|trans({}, 'FOSUserBundle') }}</a>
    </div>

{{ form_end(form) }}