{% extends 'app/module.html.twig' %}

{% block module_title %}Usuario{% endblock %}

{% block module_subtitle %}Registro{% endblock %}

{% block module_content %}
{% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock module_content %}
