{% extends 'app/module.html.twig' %}

{% block module_title %}Usuarios{% endblock %}

{% block module_subtitle %}Usuario{% endblock %}

{% block module_content %}

    {{ form_start(edit_form) }}

        {{ form_widget(edit_form) }}

        <div class="form-group">
            <label class="col-sm-2 control-label required" for="rol">Rol</label>
            <div class="col-sm-10">
                <select class="form-control" size="7" name="rol" required>
                    <option value="ROLE_REPORTES"> -- Seleccione una opción -- </option>

                    {% if usuario.roles[0] == "ROLE_SUPER_ADMIN" %}
                        <option value="ROLE_SUPER_ADMIN" selected>Super Administrador</option>
                    {% else %}
                        <option value="ROLE_SUPER_ADMIN">Super Administrador</option>
                    {% endif %}

                    {% if usuario.roles[0] == "ROLE_SUPERV_SHA" %}
                        <option value="ROLE_SUPERV_SHA" selected>Supervisor SHA</option>
                    {% else %}
                        <option value="ROLE_SUPERV_SHA">Supervisor SHA</option>
                    {% endif %}

                    {% if usuario.roles[0] == "ROLE_COORD_SHA" %}
                        <option value="ROLE_COORD_SHA" selected>Coordinador SHA</option>
                    {% else %}
                        <option value="ROLE_COORD_SHA">Coordinador SHA</option>
                    {% endif %}

                    {% if usuario.roles[0] == "ROLE_ADMIN_SHA" %}
                        <option value="ROLE_ADMIN_SHA" selected>Administrador SHA</option>
                    {% else %}
                        <option value="ROLE_ADMIN_SHA">Administrador SHA</option>
                    {% endif %}

                    {% if usuario.roles[0] == "ROLE_REPORTES" %}
                        <option value="ROLE_REPORTES" selected>Reportes</option>
                    {% else %}
                        <option value="ROLE_REPORTES">Reportes</option>
                    {% endif %}

                    {% if usuario.roles[0] == "ROLE_USUARIO" %}
                        <option value="ROLE_USUARIO" selected>Usuario</option>
                    {% else %}
                        <option value="ROLE_USUARIO">Usuario</option>
                    {% endif %}

                </select>
            </div>
        </div>

        <input type="hidden" name="rolActual" value="{{ usuario.roles[0] }}">

        <div class="form-group pull-right">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-edit "></i> Editar
            </button>
        </div>

    {{ form_end(edit_form) }}

    <div class="pull-right">
        <a href="{{ path('usuario_index') }}" class="btn btn-default btn-md" role="button">
            <i class="fa fa-list-ul" aria-hidden="true"></i></span> Regresar al listado
        </a>
    </div>

{% endblock %}
