{% extends 'app/module.html.twig' %}

{% block module_title %}Usuarios{% endblock %}

{% block module_subtitle %}Lista de Usuarios{% endblock %}

{% block module_content %}

    <table id="index-dt" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Usuario</th>
                <th>Correo electrónico</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td><a href="{{ path('usuario_show', { 'id': usuario.id }) }}">{{ usuario.nombre }}</a></td>
                <td>{{ usuario.apellido }}</td>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.email }}</td>
                <td>
                    {% if usuario.roles[0] == "ROLE_SUPER_ADMIN" %} Super Administrador <br>ROLE_SUPER_ADMIN {% endif %}
                    {% if usuario.roles[0] == "ROLE_SUPERV_SHA" %} Supervisor SHA <br>ROLE_SUPERV_SHA {% endif %}
                    {% if usuario.roles[0] == "ROLE_COORD_SHA" %} Coordinador SHA <br>ROLE_COORD_SHA {% endif %}
                    {% if usuario.roles[0] == "ROLE_ADMIN_SHA" %} Administrador SHA <br>ROLE_ADMIN_SHA {% endif %}
                    {% if usuario.roles[0] == "ROLE_REPORTES" %} Reportes <br>ROLE_REPORTES {% endif %}
                    {% if usuario.roles[0] == "ROLE_USUARIO" %} Usuario <br>ROLE_USUARIO {% endif %}
                </td>
                <td>
                    <a href="{{ path('usuario_show', { 'id': usuario.id }) }}" class="btn btn-info btn-sm"
                       data-toggle="tooltip" title="Consultar">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a href="{{ path('usuario_edit', { 'id': usuario.id }) }}" class="btn btn-warning btn-sm"
                       data-toggle="tooltip" title="Editar">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br>
    <div class="pull-right">
        <a class="btn btn-default" href="{{ path('fos_user_registration_register') }}">
            <i class="fa fa-plus"></i> Crear usuario
        </a>
    </div>

{% endblock %}
