{% extends 'app/module.html.twig' %}

{% block module_title %}Usuarios{% endblock %}

{% block module_subtitle %}Usuario{% endblock %}

{% block module_content %}

    <table class="table table-striped table-bordered display">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ usuario.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ usuario.apellido }}</td>
            </tr>
            <tr>
                <th>Correo electrónico</th>
                <td>{{ usuario.email }}</td>
            </tr>
            <tr>
                <th>Usuario</th>
                <td>{{ usuario.username }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>
                    {% if usuario.roles[0] == "ROLE_SUPER_ADMIN" %} Super Administrador <br>ROLE_SUPER_ADMIN {% endif %}
                    {% if usuario.roles[0] == "ROLE_SUPERV_SHA" %} Supervisor SHA <br>ROLE_SUPERV_SHA {% endif %}
                    {% if usuario.roles[0] == "ROLE_COORD_SHA" %} Coordinador SHA <br>ROLE_COORD_SHA {% endif %}
                    {% if usuario.roles[0] == "ROLE_ADMIN_SHA" %} Administrador SHA <br>ROLE_ADMIN_SHA {% endif %}
                    {% if usuario.roles[0] == "ROLE_REPORTES" %} Reportes <br>ROLE_REPORTES {% endif %}
                    {% if usuario.roles[0] == "ROLE_USUARIO" %} Usuario <br>ROLE_USUARIO {% endif %}
                </td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>
                    {% if usuario.enabled == 1 %}
                        <i class="fa fa-check" aria-hidden="true" style="color: green"></i>
                    {% else %}
                        <i class="fa fa-times" aria-hidden="true" style="color: red"></i>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Último acceso</th>
                <td>{% if usuario.lastlogin %} {{ usuario.lastlogin|date('d-m-Y H:i') }} {% endif %}</td>
            </tr>
        </tbody>
    </table>

    {{ form_start(delete_form) }}
    <div class="row" style="padding-top: 10px;">
        <div class="form-group pull-right">
            <a href="{{ path('usuario_edit', { 'id': usuario.id }) }}" class="btn btn-primary btn-md" role="button">
                <i class="fa fa-pencil" aria-hidden="true"></i></span> Editar
            </a>

            {% if usuario.roles[0] != "ROLE_SUPER_ADMIN" %}
            <button type="submit" class="btn btn-danger btn-md" onclick="return confirm(' ¿Está seguro que desea eliminar el usuario? ');">
                <i class="fa fa-times" aria-hidden="true"></i> Eliminar
            </button>
            {% endif %}

        </div>
    </div>
    {{ form_end(delete_form) }}

    <div class="row" style="padding-top: 3px;">
        <div class="pull-right">
            <a href="{{ path('usuario_index') }}" class="btn btn-default btn-md" role="button">
                <i class="fa fa-list-ul" aria-hidden="true"></i></span> Regresar al listado
            </a>
        </div>
    </div>

{% endblock %}
