{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div class="pull-right">
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-lock"></span> {{ 'change_password.submit'|trans }}
        </button>
        <a class="btn btn-primary" href="{{ path('fos_user_profile_show') }}">{{ 'profile.edit.back'|trans({}, 'FOSUserBundle') }}</a>
    </div>
{{ form_end(form) }}
