{% extends 'app/module.html.twig' %}

{% block module_title %}Perfil{% endblock %}

{% block module_subtitle %}Cambiar Contraseña{% endblock %}

{% block module_content %}
    {% include "FOSUserBundle:ChangePassword:change_password_content.html.twig" %}
{% endblock %}
