{% trans_default_domain 'FOSUserBundle' %}

<div>
    <div class="login_wrapper">
        <div class="animate form login_form">
            <div align="center">
                <a href="{{ path('fos_user_security_login') }}"><img src="{{ asset('assets/images/logo.png') }}" alt="YPergas" width="90%" /></a>
                <img src="{{ asset('assets/images/rif.png') }}" />
            </div>

            <div><p align="center" class="titulo_sistema">SISTEMA DE ANOMALÍAS</p></div>

            <section class="login_content">

                {% if error %}
                    <div class="alert alert-danger alert-dismissible">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="{{ path("fos_user_security_check") }}" method="POST">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                    <h1>Inicio de Sesión</h1>

                    <div class="form-group has-feedback">
                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" placeholder="{{ 'security.login.username'|trans }}" />
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" placeholder="{{ 'security.login.password'|trans }}" id="password" name="_password" required="required">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div>
                        <input class="btn btn-primary submit" type="submit" id="_submit" name="_submit"
                               value="{{ 'security.login.submit'|trans }}"/>
                        <a class="reset_pass" href="{{ path('fos_user_resetting_request') }}">&iquest;Olvidó su contraseña?</a>
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">

                        <div class="clearfix"></div>
                        <br/>

                        <div>
                            <p>{{ footer }}</p>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>