{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    <div>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <div align="center">
                    <a href="{{ path('fos_user_security_login') }}"><img src="{{ asset('assets/images/logo.png') }}" alt="YPergas" width="90%" /></a>
                    <img src="{{ asset('assets/images/rif.png') }}" />
                </div>

                <section class="login_content">
                    <form>
                        <h1>Olvido Contraseña</h1>

                        <div class="alert alert-success alert-dismissible" style="text-align: justify">
                            {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
                        </div>
                        <div>
                            <p align="center">
                                <a href="{{ path('fos_user_security_login') }}" role="button">Ir al inicio</a>
                            </p>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">

                            <div class="clearfix"></div>
                            <br/>

                            <div>
                                <p>{{ footer }}</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>

{% endblock %}
