{% trans_default_domain 'FOSUserBundle' %}

<div>
    <div class="login_wrapper">
        <div class="animate form login_form">
            <div align="center">
                <a href="{{ path('fos_user_security_login') }}"><img src="{{ asset('assets/images/logo.png') }}" alt="YPergas" width="90%" /></a>
                <img src="{{ asset('assets/images/rif.png') }}" />
            </div>

            <section class="login_content">

                {% if invalid_username is defined %}
                    <div class="alert alert-danger alert-dismissible">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</div>
                {% endif %}
                {% if already_requested is defined %}
                    <div class="alert alert-warning alert-dismissible">{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</div>
                {% endif %}

                <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                    <h1>Olvido Contraseña</h1>

                    <div class="form-group has-feedback">
                        <input type="text" id="username" name="username" required="required" class="form-control" placeholder="{{ 'security.login.username'|trans }}" />
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div>
                        <input class="btn btn-primary submit" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
                        <a class="reset_pass" href="{{ path('fos_user_security_login') }}">Ir al Inicio</a>
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">

                        <div class="clearfix"></div>
                        <br/>

                        <div>
                            <p>{{ footer }}</p>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>