{% extends 'app/module.html.twig' %}

{% block module_title %}Reportes{% endblock %}

{% block module_subtitle %}Anomalías por Tipo de Clasificación{% endblock %}

{% block module_content %}

    <form class="form-horizontal" method="post" action="{{ path('reporte_portipo') }}">
        <div class="form-group">
            <label class="control-label col-sm-2" for="desde">Fecha de Inicio:</label>
            <div class="col-sm-10">
                <div class="input-group input-group-sm">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </div>
                    <input type="text" id="desde" name="desde" required="required" class="datepicker form-control" data-date-format="YYYY-MM-DD" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="desde">Fecha de Fin:</label>
            <div class="col-sm-10">
                <div class="input-group input-group-sm">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </div>
                    <input type="text" id="hasta" name="hasta" required="required" class="datepicker form-control" data-date-format="YYYY-MM-DD" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="tipo">Tipo:</label>
            <div class="col-sm-10">
                <select class="form-control" name="tipo" required>
                    <option value=""> -- Seleccione una opción -- </option>
                    <option value="acto">Acto inseguro</option>
                    <option value="condicion">Condición insegura</option>
                </select>
            </div>
        </div>

        <div class="form-group pull-right" style="padding-top: 15px;">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-pie-chart"></i> Generar Reporte
            </button>
        </div>
    </form>

{% endblock %}

{% block plugins_js %}

    <script src="{{ asset('assets/js/moment/moment.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/moment/locale/es.js') }}"></script>
    <script src="{{ asset('assets/vendors/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $('#desde').datetimepicker({
                locale: 'es',
            });
        });

        $(function () {
            $('#hasta').datetimepicker({
                locale: 'es',
            });
        });
    </script>

{% endblock %}

{% block plugins_css %}
    <link type="text/css" rel="stylesheet" href="{{ asset('assets/vendors/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" />
{% endblock %}
