{% extends 'app/module.html.twig' %}

{% block module_title %}Reportes{% endblock %}

{% block module_subtitle %}Anomalías Pendientes{% endblock %}

{% block module_content %}

    <form class="form-horizontal" method="post" action="{{ path('reporte_pendientes') }}">
        <div class="form-group">
            <label class="control-label col-sm-2" for="filtro">Filtro:</label>
            <div class="col-sm-10">
                <select class="form-control" name="filtro" required>
                    <option value=""> -- Seleccione una opción -- </option>
                        <option value="vencidas">Vencidas</option>
                    <option value="novencidas">Sin Vencer</option>
                </select>
            </div>
        </div>
        <div class="form-group pull-right" style="padding-top: 15px;">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-pie-chart"></i> Generar Reporte
            </button>
        </div>
    </form>

{% endblock %}
