{% extends 'app/module.html.twig' %}

{% block module_title %}Reportes{% endblock %}

{% block module_subtitle %}Anomalías por Observador{% endblock %}

{% block module_content %}

    <form class="form-horizontal" method="post" action="{{ path('reporte_porobservador') }}">
        <div class="form-group">
            <label class="control-label col-sm-2" for="observador">Observador:</label>
            <div class="col-sm-10">
                <select class="form-control" name="observador" required>
                    <option value=""> -- Seleccione una opción -- </option>
                    {% for observador in observadores %}
                        <option value="{{ observador.id }}">{{ observador.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group pull-right" style="padding-top: 15px;">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-pie-chart"></i> Generar Reporte
            </button>
        </div>
    </form>

{% endblock %}
