{% extends 'app/module.html.twig' %}

{% block module_title %}Reportes{% endblock %}

{% block module_subtitle %}Anomalías por Regla de Oro{% endblock %}

{% block module_content %}

    <form class="form-horizontal" method="post" action="{{ path('reporte_porregladeoro') }}">
        <div class="form-group">
            <label class="control-label col-sm-2" for="regladeoro">Regla de Oro:</label>
            <div class="col-sm-10">
                <select class="form-control" name="regladeoro" required>
                    <option value=""> -- Seleccione una opción -- </option>
                    {% for regla in reglasdeoro %}
                        <option value="{{ regla.id }}">{{ regla.descripcion }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group pull-right" style="padding-top: 15px;">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-pie-chart"></i> Generar Reporte
            </button>
        </div>
    </form>

{% endblock %}
