{% extends 'app/module.html.twig' %}

{% block module_title %}Reportes{% endblock %}

{% block module_subtitle %}Anomalías por Usuario{% endblock %}

{% block module_content %}

    <form class="form-horizontal" method="post" action="{{ path('reporte_porusuario') }}">
        <div class="form-group">
            <label class="control-label col-sm-2" for="usuario">Usuario:</label>
            <div class="col-sm-10">
                <select class="form-control" name="usuario" required>
                    <option value=""> -- Seleccione una opción -- </option>
                    {% for usuario in usuarios %}
                        <option value="{{ usuario.id }}">{{ usuario.username }} ({{ usuario.nombre }} {{ usuario.apellido }}) </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group pull-right" style="padding-top: 15px;">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-pie-chart"></i> Generar Reporte
            </button>
        </div>
    </form>

{% endblock %}
