{% extends 'app/base_reportes.html.twig' %}

{% block reporte_title %}
    <strong>{{ 'Reporte de Anomalías por Gerencia de observadores' | upper }}</strong>
{% endblock %}

{% block reporte_content %}

    <p align="center">{{ gerencia.nombre|upper }}</p>

    <table class="tabla">
        <thead>
            <tr align="center" class="encabezado">
                <th width="9%">Referencia</th>
                <th width="9%">Fecha de observación</th>
                <th width="22%">Anomalía reportada</th>
                <th width="22%">Acciones correctivas</th>
                <th width="9%">Observador</th>
                <th width="5%">Sitio</th>
                <th width="9%">Gerencia asignada</th>
                <th width="6%">Estatus</th>
                <th width="9%">Fecha propuesta</th>
            </tr>
        </thead>
        <tbody>
            {% for anomalia in anomalias %}
                <tr>
                    <td width="9%" align="center">{{ anomalia.referencia }}</td>
                    <td width="9%" align="center">{% if anomalia.fechaobservacion %}{{ anomalia.fechaobservacion|date('d-m-Y') }}{% endif %}</td>
                    <td width="22%">{{ anomalia.anomalia }}</td>
                    <td width="22%">{{ anomalia.accionescorrectivas }}</td>
                    <td width="9%" align="center">{{ anomalia.observador.nombre }}</td>
                    <td width="5%" align="center">{{ anomalia.sitio.codigo }}</td>
                    <td width="9%" align="center">{{ anomalia.gerencia.nombre }}</td>
                    <td width="6%" align="center">{{ anomalia.estatus.nombre }}</td>
                    <td width="9%" align="center">{% if anomalia.fechapropuesta %}{{ anomalia.fechapropuesta|date('d-m-Y') }}{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
