{% extends 'app/module.html.twig' %}

{% block module_title %}Reportes{% endblock %}

{% block module_subtitle %}Listado por Personas{% endblock %}

{% block module_content %}

    <h3><span class="label label-warning">Total: {{ cantidad }} anomalías</span></h3>
    <br>
    <strong>Fecha de Inicio:</strong> {% if desde %}{{ desde|date('d-m-Y') }}{% endif %}
    <br>
    <strong>Fecha de Fin:</strong> {% if hasta %}{{ hasta|date('d-m-Y') }}{% endif %}
    <br><br><br>

    <table id="index-dt" class="table table-striped table-bordered">
        <thead>
        <tr style="background-color: #72a592; font-family: 'Lao UI', Verdana; color: white; ">
            <th width="50%">Observador</th>
            <th width="50%">Anomalías reportadas</th>
        </tr>
        </thead>
        <tbody>
        {% set index = 0 %}
        {% for observador in observadores %}
            <tr>
                <td>{{ observador }}</td>
                <td>{{ totales[index] }}</td>
            </tr>
            {% set index = index + 1 %}
        {% endfor %}
        </tbody>
    </table>

    <form id="form_reporte" method="post" target="_blank" action="">
        <input type="hidden" name="desde" value="{{ desde }}" />
        <input type="hidden" name="hasta" value="{{ hasta }}" />
        <input type="hidden" name="reporte" value="3" />
    </form>

    <div class="row" style="padding-top: 10px;">
        <div class="form-group pull-right">
            <div class="btn-group">
                {% if cantidad > 0 %}
                    <button type="button" id="buttonpdf" class="btn btn-primary"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF</button>
                    <button type="button" id="buttonexcel" class="btn btn-primary"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel</button>
                {% else %}
                    <button type="button" class="btn btn-primary disabled"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF</button>
                    <button type="button" class="btn btn-primary disabled"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel</button>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row" style="padding-top: 3px;">
        <div class="pull-right">
            <a href="{{ path('pantalla_porpersonas') }}" class="btn btn-default" role="button"><i class="fa fa-reply" aria-hidden="true"></i> Regresar</a>
        </div>
    </div>

{% endblock %}

{% block plugins_js %}

    <script type="text/javascript">
        $('#buttonpdf').click(function(){
            var action = "{{ path('pdf', { 'id': 3 }) }}";
            $('#form_reporte').attr('action', action);
            $('#form_reporte').submit();
        });
        $('#buttonexcel').click(function(){
            var action = "{{ path('excel', { 'id': 3 }) }}";
            $('#form_reporte').attr('action', action);
            $('#form_reporte').submit();
        });
    </script>

{% endblock %}
