{% extends 'app/base_reportes.html.twig' %}

{% block reporte_title %}
    <strong>
        {{ 'Reporte de Anomalías Pendientes' | upper }}
        {% if filtro == "vencidas" %} {{ 'Vencidas' | upper }}{% endif %}
        {% if filtro == "novencidas" %} {{ 'Sin Vencer' | upper }}{% endif %}
    </strong>
{% endblock %}

{% block reporte_content %}

    <p align="center">Fecha: {{ "now"|date("d-m-Y") }}</p>

    <table class="tabla">
        <thead>
            <tr align="center" class="encabezado">
                <th width="10%">Referencia</th>
                <th width="10%">Fecha de observación</th>
                <th width="26%">Anomalía reportada</th>
                <th width="26%">Acciones correctivas</th>
                <th width="6%">Sitio</th>
                <th width="12%">Gerencia asignada</th>
                <th width="10%">Fecha propuesta</th>
            </tr>
        </thead>
        <tbody>
            {% for anomalia in anomalias %}
                <tr>
                    <td width="10%" align="center">{{ anomalia.referencia }}</td>
                    <td width="10%" align="center">{% if anomalia.fechaobservacion %}{{ anomalia.fechaobservacion|date('d-m-Y') }}{% endif %}</td>
                    <td width="26%">{{ anomalia.anomalia }}</td>
                    <td width="26%">{{ anomalia.accionescorrectivas }}</td>
                    <td width="6%" align="center">{{ anomalia.sitio.codigo }}</td>
                    <td width="12%" align="center">{{ anomalia.gerencia.nombre }}</td>
                    <td width="10%" align="center">{% if anomalia.fechapropuesta %}{{ anomalia.fechapropuesta|date('d-m-Y') }}{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
