{% extends 'app/module.html.twig' %}

{% block module_title %}Reportes{% endblock %}

{% block module_subtitle %}Anomalías por Clasificación{% endblock %}

{% block module_content %}

    <h3><span class="label label-warning">Total: {{ cantidad }} anomalías</span></h3>
    <br>
    <strong>Fecha de Inicio:</strong> {% if desde %}{{ desde|date('d-m-Y') }}{% endif %}
    <br>
    <strong>Fecha de Fin:</strong> {% if hasta %}{{ hasta|date('d-m-Y') }}{% endif %}
    <br>
    <strong>Clasificación:</strong>
        {% if clasificacion == 'prodecimientos' %} Procedimientos {% endif %}
        {% if clasificacion == 'herramientas' %} Herramientas / Equipos {% endif %}
        {% if clasificacion == 'epp' %} EPP {% endif %}
        {% if clasificacion == 'condicion' %} Condición del Sitio de trabajo {% endif %}
        {% if clasificacion == 'sistemas' %} Sistemas de seguridad {% endif %}
        {% if clasificacion == 'comportamiento' %} Comportamiento {% endif %}
    <br><br><br>

    <table id="index-dt" class="table table-striped table-bordered">
        <thead>
        <tr style="background-color: #72a592; font-family: 'Lao UI', Verdana; color: white; ">
            <th>Referencia</th>
            <th>Fecha de observación</th>
            <th>Anomalía reportada</th>
            <th>Acciones correctivas</th>
            <th>Sitio</th>
            <th>Gerencia asignada</th>
            <th>Estatus</th>
            <th>Fecha propuesta</th>
        </tr>
        </thead>
        <tbody>
        {% for anomalia in anomalias %}
            <tr>
                <td>{{ anomalia.referencia }}</td>
                <td>{% if anomalia.fechaobservacion %}{{ anomalia.fechaobservacion|date('d-m-Y') }}{% endif %}</td>
                <td>{{ anomalia.anomalia }}</td>
                <td>{{ anomalia.accionescorrectivas }}</td>
                <td>{{ anomalia.sitio.codigo }}</td>
                <td>{{ anomalia.gerencia.nombre }}</td>
                <td>{{ anomalia.estatus.nombre }}</td>
                <td>{% if anomalia.fechapropuesta %}{{ anomalia.fechapropuesta|date('d-m-Y') }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <form id="form_reporte" method="post" target="_blank" action="">
        <input type="hidden" name="desde" value="{{ desde }}" />
        <input type="hidden" name="hasta" value="{{ hasta }}" />
        <input type="hidden" name="clasificacion" value="{{ clasificacion  }}" />
        <input type="hidden" name="reporte" value="10" />
    </form>

    <div class="row" style="padding-top: 10px;">
        <div class="form-group pull-right">
            <div class="btn-group">
                {% if cantidad > 0 %}
                    <button type="button" id="buttonpdf" class="btn btn-primary"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF</button>
                    <button type="button" id="buttonexcel" class="btn btn-primary"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel</button>
                {% else %}
                    <button type="button" class="btn btn-primary disabled"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF</button>
                    <button type="button" class="btn btn-primary disabled"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel</button>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row" style="padding-top: 3px;">
        <div class="pull-right">
            <a href="{{ path('pantalla_porclasificacion') }}" class="btn btn-default" role="button"><i class="fa fa-reply" aria-hidden="true"></i> Regresar</a>
        </div>
    </div>

{% endblock %}

{% block plugins_js %}

    <script type="text/javascript">
        $('#buttonpdf').click(function(){
            var action = "{{ path('pdf', { 'id': 10 }) }}";
            $('#form_reporte').attr('action', action);
            $('#form_reporte').submit();
        });
        $('#buttonexcel').click(function(){
            var action = "{{ path('excel', { 'id': 10 }) }}";
            $('#form_reporte').attr('action', action);
            $('#form_reporte').submit();
        });
    </script>

{% endblock %}
