{% extends 'app/base_reportes.html.twig' %}

{% block reporte_title %}
    <strong>{{ 'Reporte de Anomalías por Usuario' | upper }}</strong>
{% endblock %}

{% block reporte_content %}

    <p align="center">{{ usuario.username|upper }} ({{ usuario.nombre }} {{ usuario.apellido }})</p>

    <table class="tabla">
        <thead>
            <tr align="center" class="encabezado">
                <th width="10%">Referencia</th>
                <th width="10%">Fecha de observación</th>
                <th width="24%">Anomalía reportada</th>
                <th width="24%">Acciones correctivas</th>
                <th width="5%">Sitio</th>
                <th width="10%">Gerencia asignada</th>
                <th width="7%">Estatus</th>
                <th width="10%">Fecha propuesta</th>
            </tr>
        </thead>
        <tbody>
            {% for anomalia in anomalias %}
                <tr>
                    <td width="10%" align="center">{{ anomalia.referencia }}</td>
                    <td width="10%" align="center">{% if anomalia.fechaobservacion %}{{ anomalia.fechaobservacion|date('d-m-Y') }}{% endif %}</td>
                    <td width="24%">{{ anomalia.anomalia }}</td>
                    <td width="24%">{{ anomalia.accionescorrectivas }}</td>
                    <td width="5%" align="center">{{ anomalia.sitio.codigo }}</td>
                    <td width="10%" align="center">{{ anomalia.gerencia.nombre }}</td>
                    <td width="7%" align="center">{{ anomalia.estatus.nombre }}</td>
                    <td width="10%" align="center">{% if anomalia.fechapropuesta %}{{ anomalia.fechapropuesta|date('d-m-Y') }}{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
