{% extends 'app/base_reportes.html.twig' %}

{% block reporte_title %}
    <strong>{{ 'Anomalías Abiertas Asignadas' | upper }}</strong>
{% endblock %}

{% block reporte_content %}

    <p align="left">
        <strong>Fecha de Inicio:</strong> {% if desde %}{{ desde|date('d-m-Y') }}{% endif %}
        <br>
        <strong>Fecha de Fin:</strong> {% if hasta %}{{ hasta|date('d-m-Y') }}{% endif %}
        <br>
        <strong>Sitio / Ubicación:</strong> {{ nombre_sitio }}</strong>
    </p>

    <table class="tabla">
        <thead>
            <tr align="center" class="encabezado">
                <th width="50%">Gerencia asignada</th>
                <th width="50%">Anomalías reportadas</th>
            </tr>
        </thead>
        <tbody>
            {% set index = 0 %}
            {% for gerencia in gerencias %}
                <tr>
                    <td width="50%" align="center">{{ gerencia }}</td>
                    <td width="50%" align="center">{{ totales[index] }}</td>
                </tr>
                {% set index = index + 1 %}
            {% endfor %}
        </tbody>
    </table>

    <p align="right">Total: {{ cantidad }} anomalías</p>

{% endblock %}
