{% extends 'app/module.html.twig' %}

{% block module_title %}Supervisores{% endblock %}

{% block module_subtitle %}Lista de Supervisores{% endblock %}

{% block module_content %}

    <table id="index-dt" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo electrónico</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for supervisor in supervisors %}
            <tr>
                <td><a href="{{ path('supervisor_show', { 'id': supervisor.id }) }}">{{ supervisor.nombre }}</a></td>
                <td>{{ supervisor.correo }}</td>
                <td>
                    <a href="{{ path('supervisor_show', { 'id': supervisor.id }) }}" class="btn btn-info btn-sm"
                       data-toggle="tooltip" title="Consultar">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a href="{{ path('supervisor_edit', { 'id': supervisor.id }) }}" class="btn btn-warning btn-sm"
                       data-toggle="tooltip" title="Editar">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br>
    <div class="pull-right">
        <a class="btn btn-default" href="{{ path('supervisor_new') }}">
            <i class="fa fa-plus"></i> Crear Supervisor
        </a>
    </div>

{% endblock %}
