{% extends 'app/module.html.twig' %}

{% block module_title %}Ubicaciones / Sitios{% endblock %}

{% block module_subtitle %}Lista de Ubicaciones / Sitios{% endblock %}

{% block module_content %}

    <table id="index-dt" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for sitio in sitios %}
            <tr>
                <td><a href="{{ path('sitio_show', { 'id': sitio.id }) }}">{{ sitio.codigo }}</a></td>
                <td>{{ sitio.nombre }}</td>
                <td>
                    <a href="{{ path('sitio_show', { 'id': sitio.id }) }}" class="btn btn-info btn-sm"
                       data-toggle="tooltip" title="Consultar">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a href="{{ path('sitio_edit', { 'id': sitio.id }) }}" class="btn btn-warning btn-sm"
                       data-toggle="tooltip" title="Editar">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br>
    <div class="pull-right">
        <a class="btn btn-default" href="{{ path('sitio_new') }}">
            <i class="fa fa-plus"></i> Crear Sitio / Ubicación
        </a>
    </div>

{% endblock %}
