{% extends 'app/module.html.twig' %}

{% block module_title %}Ubicaciones / Sitios{% endblock %}

{% block module_subtitle %}Ubicación / Sitio{% endblock %}

{% block module_content %}

    <table class="table table-striped table-bordered display">
        <tbody>
            <tr>
                <th>Código</th>
                <td>{{ sitio.codigo }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ sitio.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row" style="padding-top: 10px;">
        <div class="form-group pull-right">
            <a href="{{ path('sitio_edit', { 'id': sitio.id }) }}" class="btn btn-primary btn-md" role="button">
                <i class="fa fa-pencil" aria-hidden="true"></i></span> Editar
            </a>
        </div>
    </div>

    <div class="row" style="padding-top: 3px;">
        <div class="pull-right">
            <a href="{{ path('sitio_index') }}" class="btn btn-default btn-md" role="button">
                <i class="fa fa-list-ul" aria-hidden="true"></i></span> Regresar al listado
            </a>
        </div>
    </div>

{% endblock %}
