{% extends 'app/module.html.twig' %}

{% block module_title %}Estatus{% endblock %}

{% block module_subtitle %}Nuevo Estatus{% endblock %}

{% block module_content %}

    {{ form_start(form) }}

        {{ form_widget(form) }}

        <div class="form-group pull-right">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Agregar
            </button>
            <button type="reset" class="btn btn-primary">
                <i class="fa fa-eraser "></i> Limpiar
            </button>
        </div>

    {{ form_end(form) }}

    <div class="pull-right">
        <a href="{{ path('estatus_index') }}" class="btn btn-default btn-md" role="button">
            <i class="fa fa-list-ul" aria-hidden="true"></i></span> Regresar al listado
        </a>
    </div>

{% endblock %}
