{% extends "app/base.html.twig" %}

{% block top_content_header %}{% endblock top_content_header%}

{% block page_content %}

    <div class="row">
        <div class="col-sm-12">
            <p align="center" class="titulo_sistema">Sistema de Anomalías</p>
        </div>
    </div>

    <!-- Estadisticas del Encabezado -->
    <div class="row tile_count">
        <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-id-card-o"></i> Total Anomalías</span>
            <div class="countTotal">{{ total }}</div>
            <span class="count_bottom"><i class="fa fa-caret-right"></i> Registradas en el sistema</span>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-toggle-off"></i> Anomalías Abiertas</span>
            <div class="count">{{ abiertas }}</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-caret-right"></i>{{ pct_abiertas }}% </i> del total de anomalías</span>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-toggle-on"></i> Anomalías Cerradas</span>
            <div class="count green">{{ cerradas }}</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-caret-right"></i>{{ pct_cerradas }}% </i> del total de anomalías</span>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-clock-o"></i> Registradas hoy</span>
            <div class="count">{{ hoy }}</div>
            <span class="count_bottom"><i class="fa fa-caret-right"></i> {{ "now"|date("d/m/Y") }}</span>
        </div>
    </div>
    <div class="row tile_count">
        <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-calendar-times-o"></i> Anomalías Vencidas</span>
            <div class="count">{{ vencidas }}</div>
            <span class="count_bottom"><i class="fa fa-caret-right"></i> Con estatus 'Abierta'</span>
        </div>

        <!--
        <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-calendar-o"></i> Anomalías Sin Vencer</span>
            <div class="count">{{ no_vencidas }}</div>
            <span class="count_bottom"><i class="fa fa-caret-right"></i> Con estatus 'Abierta'</span>
        </div>
        -->

        <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-map-marker"></i> Anomalías En CCS</span>
            <div class="count green">{{ caracas }}</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-caret-right"></i>{{ pct_caracas }}% </i> del total de anomalías</span>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-map-marker"></i> Anomalías en AOR</span>
            <div class="count">{{ altagracia }}</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-caret-right"></i>{{ pct_altagracia }}% </i> del total de anomalías</span>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-map-marker"></i> Anomalías En BAO</span>
            <div class="count green">{{ bao }}</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-caret-right"></i>{{ pct_base }}% </i> del total de anomalías</span>
        </div>
    </div>
    <!-- Fin Estadisticas del Encabezado -->

    <div class="row">
        <div class="col-sm-12">
            <p align="center" >
                <img src="{{ asset('assets/images/tarjeta-1.png') }}" width="23%" />
                &nbsp;&nbsp;
                &nbsp;&nbsp;
                <img src="{{ asset('assets/images/tarjeta-2.png') }}" width="23%" />
            </p>
        </div>
    </div>

{% endblock %}