{% extends 'app/module.html.twig' %}

{% block module_title %}Observadores{% endblock %}

{% block module_subtitle %}Editar Observador{% endblock %}

{% block module_content %}

    {{ form_start(edit_form) }}

        {{ form_widget(edit_form) }}

        <div class="form-group pull-right">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-edit "></i> Editar
            </button>
        </div>

    {{ form_end(edit_form) }}

    <div class="pull-right">
        <a href="{{ path('observador_index') }}" class="btn btn-default btn-md" role="button">
            <i class="fa fa-list-ul" aria-hidden="true"></i></span> Regresar al listado
        </a>
    </div>

{% endblock %}
