{% extends 'app/module.html.twig' %}

{% block module_title %}Observadores{% endblock %}

{% block module_subtitle %}Lista de Observadores{% endblock %}

{% block module_content %}

    <table id="index-dt" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo electrónico</th>
                <th>Gerencia</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for observador in observadors %}
            <tr>
                <td><a href="{{ path('observador_show', { 'id': observador.id }) }}">{{ observador.nombre }}</a></td>
                <td>{{ observador.correo }}</td>
                <td>{{ observador.gerencia.nombre }}</td>
                <td>
                    <a href="{{ path('observador_show', { 'id': observador.id }) }}" class="btn btn-info btn-sm"
                       data-toggle="tooltip" title="Consultar">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a href="{{ path('observador_edit', { 'id': observador.id }) }}" class="btn btn-warning btn-sm"
                       data-toggle="tooltip" title="Editar">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br>
    <div class="pull-right">
        <a class="btn btn-default" href="{{ path('observador_new') }}">
            <i class="fa fa-plus"></i> Crear Observador
        </a>
    </div>

{% endblock %}
