{% extends 'app/module.html.twig' %}

{% block module_title %}Reglas de Oro{% endblock %}

{% block module_subtitle %}Editar Regla de Oro{% endblock %}

{% block module_content %}

    {{ form_start(edit_form) }}

        {{ form_widget(edit_form) }}

        <div class="form-group">
            <label class="col-sm-2"></label>
            <div class="col-sm-10">
                <img src="{{ asset('uploads/reglas/') }}{{ regladeoro.icono }}" />
            </div>
        </div>

        <div class="form-group pull-right">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-edit "></i> Editar
            </button>
        </div>

    {{ form_end(edit_form) }}

    <div class="pull-right">
        <a href="{{ path('regladeoro_index') }}" class="btn btn-default btn-md" role="button">
            <i class="fa fa-list-ul" aria-hidden="true"></i></span> Regresar al listado
        </a>
    </div>

{% endblock %}
