{% extends 'app/module.html.twig' %}

{% block module_title %}Reglas de Oro{% endblock %}

{% block module_subtitle %}Lista de Reglas de Oro{% endblock %}

{% block module_content %}

    <table id="index-dt" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Icono</th>
                <th>Código</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for regladeoro in regladeoros %}
            <tr>
                <td>
                    <img src="{{ asset('uploads/reglas/') }}{{ regladeoro.icono }}" />
                </td>
                <td><a href="{{ path('regladeoro_show', { 'id': regladeoro.id }) }}">{{ regladeoro.codigo }}</a></td>
                <td>{{ regladeoro.descripcion }}</td>
                <td>
                    <a href="{{ path('regladeoro_show', { 'id': regladeoro.id }) }}" class="btn btn-info btn-sm"
                       data-toggle="tooltip" title="Consultar">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a href="{{ path('regladeoro_edit', { 'id': regladeoro.id }) }}" class="btn btn-warning btn-sm"
                       data-toggle="tooltip" title="Editar">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br>
    <div class="pull-right">
        <a class="btn btn-default" href="{{ path('regladeoro_new') }}">
            <i class="fa fa-plus"></i> Crear Regla de Oro
        </a>
    </div>

{% endblock %}
