{% extends 'app/module.html.twig' %}

{% block module_title %}Reglas de Oro{% endblock %}

{% block module_subtitle %}Regla de Oro{% endblock %}

{% block module_content %}

    <table class="table table-striped table-bordered display">
        <tbody>
            <tr>
                <th>Código</th>
                <td>{{ regladeoro.codigo }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ regladeoro.descripcion }}</td>
            </tr>
            <tr>
                <th>Icono</th>
                <td>
                    <img src="{{ asset('uploads/reglas/') }}{{ regladeoro.icono }}" />
                    <span style="padding-left: 10px">{{ regladeoro.icono }}</td></span>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row" style="padding-top: 10px;">
        <div class="form-group pull-right">
            <a href="{{ path('regladeoro_edit', { 'id': regladeoro.id }) }}" class="btn btn-primary btn-md" role="button">
                <i class="fa fa-pencil" aria-hidden="true"></i></span> Editar
            </a>
        </div>
    </div>

    <div class="row" style="padding-top: 3px;">
        <div class="pull-right">
            <a href="{{ path('regladeoro_index') }}" class="btn btn-default btn-md" role="button">
                <i class="fa fa-list-ul" aria-hidden="true"></i></span> Regresar al listado
            </a>
        </div>
    </div>

{% endblock %}
